@charset "UTF-8";
/******************************
캠페인 프로모션 페이지
2025.08.22~
******************************/
#campPromotion {
  width: 650px;
  margin: 0 auto;
  background-color: #000;
  color: #fff;
}
@media (max-width: 1100px) {
  #campPromotion {
    width: 100%;
  }
}
#campPromotion .promotion__inner {
  position: relative;
}
#campPromotion .promotion__inner .promotion__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 70px 86px 50px 86px;
  font-family: "NotoSansKR";
  font-weight: 500;
}
@media (max-width: 1100px) {
  #campPromotion .promotion__inner .promotion__head {
    padding: 50px 20px 40px;
  }
}
#campPromotion .promotion__inner .promotion__head--left img {
  width: auto;
  height: 26px;
}
@media (max-width: 1100px) {
  #campPromotion .promotion__inner .promotion__head--left img {
    height: 20px;
  }
}
#campPromotion .promotion__inner .promotion__head--mark img {
  width: auto;
  height: 63px;
}
@media (max-width: 1100px) {
  #campPromotion .promotion__inner .promotion__head--mark img {
    height: 50px;
  }
}
#campPromotion .promotion__inner .promotion__head--right img {
  width: auto;
  height: 26px;
}
@media (max-width: 1100px) {
  #campPromotion .promotion__inner .promotion__head--right img {
    height: 20px;
  }
}
#campPromotion .promotion__inner .parallax {
  width: 100%;
  margin-bottom: 100px;
}
#campPromotion .promotion__inner .parallax__img {
  width: 100%;
}
#campPromotion .promotion__inner .parallax-tvc {
  position: relative;
}
#campPromotion .promotion__inner .parallax-tvc__slogan-top {
  width: 100%;
  margin-bottom: 28px;
  padding: 0 86px;
}
@media (max-width: 1100px) {
  #campPromotion .promotion__inner .parallax-tvc__slogan-top {
    padding: 0 20px;
    margin-bottom: 20px;
  }
}
#campPromotion .promotion__inner .parallax-tvc__motion {
  position: relative;
}
#campPromotion .promotion__inner .parallax-tvc__motion--wrap {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: auto;
  transform-origin: top right;
  transform: scale(0);
  z-index: 1;
}
#campPromotion .promotion__inner .parallax-tvc__motion--video {
  width: 100%;
  height: auto;
}
#campPromotion .promotion__inner .parallax-tvc__slogan-middle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
  padding: 0 80px;
}
@media (max-width: 1100px) {
  #campPromotion .promotion__inner .parallax-tvc__slogan-middle {
    padding: 0 20px;
  }
}
#campPromotion .promotion__inner .parallax-tvc__slogan-middle--left {
  width: 100%;
}
#campPromotion .promotion__inner .parallax-tvc__slogan-middle--right {
  width: 67%;
}
#campPromotion .promotion__inner .parallax-tvc__slogan-bottom {
  width: 100%;
  margin-top: 28px;
  padding: 0 86px;
}
@media (max-width: 1100px) {
  #campPromotion .promotion__inner .parallax-tvc__slogan-bottom {
    margin-top: 20px;
    padding: 0 20px;
  }
}
#campPromotion .promotion__inner .parallax-tvc__img {
  width: 100%;
}
#campPromotion .promotion__inner .parallax-tvc__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 135px;
  padding: 0 86px;
}
@media (max-width: 1100px) {
  #campPromotion .promotion__inner .parallax-tvc__info {
    margin-top: 50px;
    padding: 0 20px;
  }
}
#campPromotion .promotion__inner .parallax-tvc__info-left {
  display: flex;
  align-items: center;
  justify-content: center;
}
#campPromotion .promotion__inner .parallax-tvc__info-left img {
  width: auto;
  height: 34px;
}
@media (max-width: 1100px) {
  #campPromotion .promotion__inner .parallax-tvc__info-left img {
    height: 25px;
  }
}
#campPromotion .promotion__inner .parallax-tvc__info-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
#campPromotion .promotion__inner .parallax-tvc__info-center img {
  width: auto;
  height: 36px;
}
@media (max-width: 1100px) {
  #campPromotion .promotion__inner .parallax-tvc__info-center img {
    height: 27px;
  }
}
#campPromotion .promotion__inner .parallax-tvc__info-right {
  display: flex;
  align-items: center;
  justify-content: center;
}
#campPromotion .promotion__inner .parallax-tvc__info-right img {
  width: auto;
  height: 38px;
}
@media (max-width: 1100px) {
  #campPromotion .promotion__inner .parallax-tvc__info-right img {
    height: 28.14px;
  }
}
#campPromotion .promotion__inner .parallax-txt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "NotoSansKR";
  font-weight: 500;
  text-align: center;
  margin-top: 120px;
}
@media (max-width: 1100px) {
  #campPromotion .promotion__inner .parallax-txt {
    margin-top: 0;
  }
}
#campPromotion .promotion__inner .parallax-txt__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#campPromotion .promotion__inner .parallax-txt__inner > div {
  opacity: 0;
  transform: translateY(30px);
}
#campPromotion .promotion__inner .parallax-txt__slogan-1st {
  width: 130px;
  height: auto;
}
@media (max-width: 1100px) {
  #campPromotion .promotion__inner .parallax-txt__slogan-1st {
    width: 122px;
    margin-top: 100px;
  }
}
#campPromotion .promotion__inner .parallax-txt__slogan-2nd {
  width: 244px;
  height: auto;
  margin-top: 60px;
  opacity: 1;
}
@media (max-width: 1100px) {
  #campPromotion .promotion__inner .parallax-txt__slogan-2nd {
    margin-top: 57px;
    width: 230px;
  }
}
#campPromotion .promotion__inner .parallax-txt__slogan-3rd {
  width: 206px;
  height: auto;
  margin-top: 66px;
}
@media (max-width: 1100px) {
  #campPromotion .promotion__inner .parallax-txt__slogan-3rd {
    margin-top: 57px;
    width: 195px;
  }
}
#campPromotion .promotion__inner .parallax-txt__slogan-4th {
  width: 61px;
  height: auto;
  margin-top: 12px;
  margin-bottom: 100px;
}
@media (max-width: 1100px) {
  #campPromotion .promotion__inner .parallax-txt__slogan-4th {
    margin-top: 11px;
    width: 58px;
  }
}
#campPromotion .promotion__inner .parallax-usp {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
#campPromotion .promotion__inner .parallax-usp__slogan-up {
  width: 100%;
  padding-bottom: 15px;
  background-color: #000;
}
@media (max-width: 1100px) {
  #campPromotion .promotion__inner .parallax-usp__slogan-up {
    padding-bottom: 14px;
  }
}
#campPromotion .promotion__inner .parallax-usp__slogan-up img {
  width: 299px;
}
@media (max-width: 1100px) {
  #campPromotion .promotion__inner .parallax-usp__slogan-up img {
    width: 283px;
  }
}
#campPromotion .promotion__inner .parallax-usp__motion {
  display: flex;
  justify-content: center;
  align-items: center;
}
#campPromotion .promotion__inner .parallax-usp__motion--wrap {
  width: 100%;
  overflow: hidden;
  transform: scale(0);
}
#campPromotion .promotion__inner .parallax-usp__motion--video {
  width: 100%;
}
#campPromotion .promotion__inner .parallax-usp__slogan-down {
  width: 100%;
  padding-top: 15px;
  background-color: #000;
}
@media (max-width: 1100px) {
  #campPromotion .promotion__inner .parallax-usp__slogan-down {
    padding-top: 14px;
  }
}
#campPromotion .promotion__inner .parallax-usp__slogan-down img {
  width: 302px;
}
@media (max-width: 1100px) {
  #campPromotion .promotion__inner .parallax-usp__slogan-down img {
    width: 286px;
  }
}
#campPromotion .promotion__inner .parallax-usp__info {
  width: 239px;
  margin-top: 79px;
}
@media (max-width: 1100px) {
  #campPromotion .promotion__inner .parallax-usp__info {
    width: 226px;
    margin-top: 75px;
  }
}
#campPromotion .promotion__inner .anchor-tab {
  position: sticky;
  top: 98px;
  left: 0;
  width: 100%;
  z-index: 20;
  background-color: #000;
}
#campPromotion .promotion__inner .anchor-tab__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  overflow: hidden;
}
#campPromotion .promotion__inner .anchor-tab__item {
  width: 100%;
  border: 1px solid #fff;
}
#campPromotion .promotion__inner .anchor-tab__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px 0;
  background-color: #000;
  font-size: 14px;
  color: #fff;
  line-height: 120%;
}
#campPromotion .promotion__inner .anchor-tab__link--active {
  background-color: #af874b;
  font-weight: bold;
}
#campPromotion .promotion__inner .quiz__inner {
  position: relative;
}
#campPromotion .promotion__inner .quiz__head-background {
  width: 100%;
}
#campPromotion .promotion__inner .quiz__head-background img {
  width: 100%;
  height: auto;
}
#campPromotion .promotion__inner .quiz__wrap {
  width: 100%;
  padding: 94px 107px 67px;
  background: radial-gradient(circle at 50% -40%, #544124, transparent 70%), radial-gradient(circle at 50% 140%, #544124, transparent 70%);
}
@media (max-width: 1100px) {
  #campPromotion .promotion__inner .quiz__wrap {
    padding: 80px 14px 43px;
  }
}
#campPromotion .promotion__inner .quiz__img {
  width: 100%;
  padding: 0 78px;
  text-align: center;
}
@media (max-width: 1100px) {
  #campPromotion .promotion__inner .quiz__img {
    padding: 0 48px;
  }
}
#campPromotion .promotion__inner .quiz__img img {
  width: 100%;
}
#campPromotion .promotion__inner .quiz__question {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 27px;
  padding: 18px 20px;
  background: linear-gradient(to top, #4E3C21, #261D10 50%);
}
#campPromotion .promotion__inner .quiz__question-img img {
  width: 60px;
}
#campPromotion .promotion__inner .quiz__question-passage {
  display: flex;
  align-items: center;
  margin-top: 15px;
  font-size: 14px;
  color: #fff;
  line-height: 140%;
  text-align: center;
}
#campPromotion .promotion__inner .quiz__question-passage--gap {
  margin-top: 18px;
}
@media (max-width: 1100px) {
  #campPromotion .promotion__inner .quiz__question-passage--gap {
    margin-top: 18px;
  }
}
#campPromotion .promotion__inner .quiz__question-blank {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
@media (max-width: 1100px) {
  #campPromotion .promotion__inner .quiz__question-blank {
    margin-right: 2px;
  }
}
#campPromotion .promotion__inner .quiz__question-blank img {
  width: 15px;
  height: 15px;
  margin-left: 4px;
}
#campPromotion .promotion__inner .quiz__question-ask {
  display: flex;
  align-items: center;
  margin-top: 30px;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  text-align: center;
}
@media (max-width: 1100px) {
  #campPromotion .promotion__inner .quiz__question-ask {
    font-size: 20px;
    line-height: 120%;
  }
}
#campPromotion .promotion__inner .quiz__question-ask img {
  width: 22px;
  height: 22px;
  margin-left: 4px;
}
#campPromotion .promotion__inner .quiz__answer {
  width: 100%;
  padding: 0 110px;
}
@media (max-width: 1100px) {
  #campPromotion .promotion__inner .quiz__answer {
    padding: 0 50px;
  }
}
#campPromotion .promotion__inner .quiz__answer-list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}
#campPromotion .promotion__inner .quiz__answer-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin-top: 30px;
}
@media (max-width: 1100px) {
  #campPromotion .promotion__inner .quiz__answer-item {
    margin-top: 40px;
  }
}
#campPromotion .promotion__inner .quiz__answer-item--bold {
  font-weight: bold;
}
#campPromotion .promotion__inner .quiz__answer-item--bold .quiz__answer-options {
  font-weight: bold;
}
#campPromotion .promotion__inner .quiz__answer-item--bold .quiz__answer-options + label {
  font-weight: bold;
}
#campPromotion .promotion__inner .quiz__answer-options {
  display: none;
}
#campPromotion .promotion__inner .quiz__answer-options + label {
  display: block;
  padding-left: 22px;
  background: url("/images/campaign/camp25_quiz_radio_off.svg") no-repeat left center/14px 14px;
  font-size: 18px;
}
#campPromotion .promotion__inner .quiz__answer-options:checked + label {
  background-image: url("/images/campaign/camp25_quiz_radio_on.svg");
}
#campPromotion .promotion__inner .quiz__answer-bottom {
  width: 100%;
  margin-top: 30px;
  text-align: center;
}
#campPromotion .promotion__inner .quiz__answer-bottom--btn {
  width: 100%;
  height: 48px;
  background-color: #000;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  text-align: center;
}
@keyframes balloonFloat {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
#campPromotion .promotion__inner .coupon__inner {
  position: relative;
}
#campPromotion .promotion__inner .coupon__wrap {
  width: 100%;
  padding: 113px 129px 86px;
  background: radial-gradient(circle at 50% 30%, #544124, transparent 50%), radial-gradient(circle at 50% 60%, #544124, transparent 70%);
}
@media (max-width: 1100px) {
  #campPromotion .promotion__inner .coupon__wrap {
    padding: 74px 0 65px;
  }
}
#campPromotion .promotion__inner .coupon__img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#campPromotion .promotion__inner .coupon__img--head {
  padding: 0 92px;
}
@media (max-width: 1100px) {
  #campPromotion .promotion__inner .coupon__img--head {
    padding: 0 98px;
  }
}
#campPromotion .promotion__inner .coupon__img--body {
  width: 100%;
  margin-top: 28px;
}
#campPromotion .promotion__inner .coupon__down-1st {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 18px;
  padding: 31px 40px 39px;
  background: linear-gradient(to top, #96723F, #97703E 50%);
}
@media (max-width: 1100px) {
  #campPromotion .promotion__inner .coupon__down-1st {
    margin: 18px 14px 0;
    padding: 46px 24px 34px;
  }
}
#campPromotion .promotion__inner .coupon__down-2nd {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 22px;
  padding: 44px 40px 33px;
  background: linear-gradient(to left top, #725831, #3B2B11 100%);
}
@media (max-width: 1100px) {
  #campPromotion .promotion__inner .coupon__down-2nd {
    margin: 18px 14px 0;
    padding: 48px 14px 30px;
  }
}
#campPromotion .promotion__inner .coupon__num img {
  display: inline-block;
  width: 15.5px;
  height: auto;
}
#campPromotion .promotion__inner .coupon__txt1 {
  margin-top: 80px;
  padding: 0 22px;
}
@media (max-width: 1100px) {
  #campPromotion .promotion__inner .coupon__txt1 {
    margin-top: 76px;
    padding: 0 29px;
  }
}
#campPromotion .promotion__inner .coupon__txt1 img {
  width: 100%;
}
#campPromotion .promotion__inner .coupon__txt2 {
  margin-top: 20px;
  padding: 0 92px;
}
@media (max-width: 1100px) {
  #campPromotion .promotion__inner .coupon__txt2 {
    margin-top: 12px;
  }
}
#campPromotion .promotion__inner .coupon__txt2 img {
  width: 100%;
}
#campPromotion .promotion__inner .coupon__txt3 {
  margin-top: 28px;
  padding: 0 59px;
}
#campPromotion .promotion__inner .coupon__txt3 img {
  width: 100%;
}
#campPromotion .promotion__inner .coupon__txt4 {
  margin-top: 20px;
  padding: 0 92px;
}
#campPromotion .promotion__inner .coupon__txt4 img {
  width: 100%;
}
#campPromotion .promotion__inner .coupon__balloon {
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  height: auto;
  text-align: center;
}
@media (max-width: 1100px) {
  #campPromotion .promotion__inner .coupon__balloon {
    top: 80px;
  }
}
#campPromotion .promotion__inner .coupon__balloon-inner {
  display: inline-block;
  width: 110px;
  height: auto;
  animation: balloonFloat 1s ease-in-out infinite;
  will-change: transform;
}
#campPromotion .promotion__inner .coupon__down-btn {
  text-align: center;
}
#campPromotion .promotion__inner .coupon__down-btn--1st {
  width: 100%;
  height: auto;
  margin-top: 34px;
  text-align: center;
}
#campPromotion .promotion__inner .coupon__down-btn--1st a {
  display: inline-block;
  height: auto;
}
#campPromotion .promotion__inner .coupon__down-btn--2nd {
  width: 100%;
  height: auto;
  margin-top: 18px;
  text-align: center;
}
#campPromotion .promotion__inner .coupon__down-btn--2nd a {
  display: inline-block;
  height: auto;
}
#campPromotion .promotion__inner .special-price__inner {
  text-align: center;
}
#campPromotion .promotion__inner .special-price__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#campPromotion .promotion__inner .special-price__content--2box {
  background: linear-gradient(to top, #F6EAD3, #F8F3E6 10%);
  padding: 84px 135px 80px;
}
@media (max-width: 1100px) {
  #campPromotion .promotion__inner .special-price__content--2box {
    padding: 52px 17px 52px;
  }
}
#campPromotion .promotion__inner .special-price__content--2box .special-price__head {
  padding: 0 22px;
}
@media (max-width: 1100px) {
  #campPromotion .promotion__inner .special-price__content--2box .special-price__head {
    padding: 0 33px;
  }
}
@media (max-width: 1100px) {
  #campPromotion .promotion__inner .special-price__content--2box .special-price__gift {
    margin-top: 19px;
  }
}
#campPromotion .promotion__inner .special-price__content--exhbn {
  background-color: #F8F3E6;
  padding: 109px 125px 46px;
}
@media (max-width: 1100px) {
  #campPromotion .promotion__inner .special-price__content--exhbn {
    padding: 91px 0 44px;
  }
}
#campPromotion .promotion__inner .special-price__content--exhbn .special-price__head {
  padding: 0 86px;
}
@media (max-width: 1100px) {
  #campPromotion .promotion__inner .special-price__content--exhbn .special-price__head {
    padding: 0 81px;
  }
}
#campPromotion .promotion__inner .special-price__content--exhbn .special-price__list {
  margin-top: 28px;
}
#campPromotion .promotion__inner .special-price__content--exhbn .special-price__list > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 6px;
  width: 100%;
  padding: 0;
}
#campPromotion .promotion__inner .special-price__content--exhbn .special-price__list > ul li {
  width: calc(50% - 3px);
}
#campPromotion .promotion__inner .special-price__content--exhbn .special-price__list > ul li img {
  width: 100%;
}
#campPromotion .promotion__inner .special-price__content--exhbn .special-price__btn {
  width: 100%;
  margin-top: 29px;
  padding: 0 35px;
  line-height: 48px;
}
@media (max-width: 1100px) {
  #campPromotion .promotion__inner .special-price__content--exhbn .special-price__btn {
    margin-top: 28px;
    padding: 0 30px;
  }
}
#campPromotion .promotion__inner .special-price__content--exhbn .special-price__btn a {
  display: block;
  background-color: #000;
}
#campPromotion .promotion__inner .special-price__content--exhbn .special-price__btn a span {
  display: inline-block;
  padding-right: 26px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background: url("/images/campaign/camp25_icon_link.svg") no-repeat right center/26px;
}
#campPromotion .promotion__inner .special-price__content--half {
  position: relative;
  background: linear-gradient(to top, #F6EAD3, #F8F3E6 10%);
  padding: 98px 135px 51px;
}
@media (max-width: 1100px) {
  #campPromotion .promotion__inner .special-price__content--half {
    padding: 94px 17px 46px;
  }
}
#campPromotion .promotion__inner .special-price__content--half .special-price__balloon {
  position: absolute;
  top: 46px;
  left: 0;
  width: 100%;
  height: auto;
  text-align: center;
}
@media (max-width: 1100px) {
  #campPromotion .promotion__inner .special-price__content--half .special-price__balloon {
    top: 44px;
  }
}
#campPromotion .promotion__inner .special-price__content--half .special-price__balloon-inner {
  display: inline-block;
  width: 132px;
  height: auto;
  animation: balloonFloat 1s ease-in-out infinite;
  will-change: transform;
}
@media (max-width: 1100px) {
  #campPromotion .promotion__inner .special-price__content--half .special-price__balloon-inner {
    width: 125px;
  }
}
#campPromotion .promotion__inner .special-price__content--half .special-price__head {
  padding: 0 23px;
}
@media (max-width: 1100px) {
  #campPromotion .promotion__inner .special-price__content--half .special-price__head {
    padding: 0 13px;
  }
}
#campPromotion .promotion__inner .special-price__content--half .special-price__list {
  margin-top: 30px;
}
#campPromotion .promotion__inner .special-price__content--half .special-price__list li {
  margin-top: 10px;
}
#campPromotion .promotion__inner .special-price__content--half .special-price__list li:first-child {
  margin-top: 0;
}
#campPromotion .promotion__inner .special-price__content--half .special-price__footer {
  margin-top: 17px;
  padding: 0 136px;
}
@media (max-width: 1100px) {
  #campPromotion .promotion__inner .special-price__content--half .special-price__footer {
    margin-top: 20px;
    padding: 0 130px;
  }
}
#campPromotion .promotion__inner .special-price__content--gift {
  background: #f8f3e6;
  padding: 68px 0 74px 0;
}
@media (max-width: 1100px) {
  #campPromotion .promotion__inner .special-price__content--gift {
    padding: 35px 0 70px 0;
  }
}
#campPromotion .promotion__inner .special-price__content--gift .special-price__head {
  padding: 0 175px;
}
@media (max-width: 1100px) {
  #campPromotion .promotion__inner .special-price__content--gift .special-price__head {
    padding: 0 52px;
  }
}
#campPromotion .promotion__inner .special-price__content--gift .special-price__list {
  margin-top: 47px;
}
#campPromotion .promotion__inner .special-price__content--gift .special-price__list > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 0;
}
#campPromotion .promotion__inner .special-price__content--gift .special-price__list > ul li {
  width: 50%;
}
#campPromotion .promotion__inner .special-price__content--gift .special-price__list > ul li img {
  width: 100%;
}
#campPromotion .promotion__inner .special-price__list {
  display: flex;
  justify-content: center;
}
#campPromotion .promotion__inner .special-price__list > ul > li {
  width: 100%;
}
#campPromotion .promotion__inner .special-price__list > ul > li a {
  display: block;
  width: 100%;
}
#campPromotion .promotion__inner .special-price__present {
  position: relative;
  background: radial-gradient(circle at 100% 50%, #544124 30%, transparent 90%);
  padding: 88px 135px 50px;
}
@media (max-width: 1100px) {
  #campPromotion .promotion__inner .special-price__present {
    padding: 86px 23px 54px;
  }
}
#campPromotion .promotion__inner .special-price__present--wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}
#campPromotion .promotion__inner .special-price__present--body-img {
  margin-top: 28px;
}
#campPromotion .promotion__inner .special-price__present--body-img li {
  margin-top: 13px;
}
#campPromotion .promotion__inner .special-price__present--body-img li:first-child {
  margin-top: 0;
}
#campPromotion .promotion__inner .special-price__present--head-img {
  margin-top: 0;
  padding: 0 16px;
}
@media (max-width: 1100px) {
  #campPromotion .promotion__inner .special-price__present--head-img {
    padding: 0 24px;
  }
}
#campPromotion .promotion__inner .special-price__present--foot-img {
  margin-top: 18px;
  padding: 0 82px;
}
@media (max-width: 1100px) {
  #campPromotion .promotion__inner .special-price__present--foot-img {
    margin-top: 19px;
    padding: 0 79px;
  }
}
#campPromotion .promotion__inner .giveaway__inner {
  position: relative;
  background: radial-gradient(circle at 50% 10%, #211A0F 20%, transparent 40%);
  padding: 86px 137px 51px;
}
@media (max-width: 1100px) {
  #campPromotion .promotion__inner .giveaway__inner {
    padding: 93px 17px 48px;
  }
}
#campPromotion .promotion__inner .giveaway__wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}
#campPromotion .promotion__inner .giveaway__head-img {
  margin-bottom: 24px;
  padding: 0 18px;
}
@media (max-width: 1100px) {
  #campPromotion .promotion__inner .giveaway__head-img {
    margin-bottom: 35px;
    padding: 0 17px;
  }
}
#campPromotion .promotion__inner .giveaway__foot-img {
  margin-top: 15px;
  padding: 0 30px;
}
@media (max-width: 1100px) {
  #campPromotion .promotion__inner .giveaway__foot-img {
    margin-top: 21px;
    padding: 0 30px;
  }
}
#campPromotion .promotion__inner .notice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 39px 17px 45px;
  background-color: #212121;
}
@media (max-width: 1100px) {
  #campPromotion .promotion__inner .notice {
    padding: 43px 17px 34px;
  }
}
#campPromotion .promotion__inner .notice h2 {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
}
#campPromotion .promotion__inner .notice__list {
  margin-top: 10px;
}
#campPromotion .promotion__inner .notice__list > li {
  position: relative;
  padding: 0 0 4px 8px;
  font-size: 10px;
  line-height: 140%;
}
#campPromotion .promotion__inner .notice__list > li::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 0;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background-color: #fff;
}
#campPromotion .promotion__popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  width: 318px;
  height: 204px;
  z-index: 1000;
}
#campPromotion .promotion__popup--dim {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999;
}
#campPromotion .promotion__popup--inner {
  height: 100%;
}
#campPromotion .promotion__popup--wrap {
  width: 318px;
  height: 204px;
  background-color: #fff;
}
#campPromotion .promotion__popup--container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 12px 22px 12px;
}
#campPromotion .promotion__popup--content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#campPromotion .promotion__popup--content .popup__head {
  display: inline-block;
  margin-bottom: 22px;
  padding: 4px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  background-color: #000;
}
#campPromotion .promotion__popup--content .popup__body {
  font-size: 18px;
  font-weight: bold;
  color: #000;
  line-height: 140%;
}
#campPromotion .promotion__popup--content .popup__body--em {
  font-size: 18px;
  font-weight: bold;
  color: #AF874A;
}
#campPromotion .promotion__popup--content .popup__body--disc {
  margin-top: 5px;
  font-size: 14px;
  font-weight: bold;
  color: #AF874A;
}
#campPromotion .promotion__popup--btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 35px;
  gap: 5px;
}
#campPromotion .promotion__popup--btn button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
#campPromotion .promotion__popup--btn button.popup__cancel {
  border: 1px solid #000;
  font-size: 14px;
  color: #000;
}
#campPromotion .promotion__popup--btn button.popup__ok {
  background-color: #000;
  color: #fff;
}/*# sourceMappingURL=camp-promotion.css.map */