@charset "utf-8";

/******************************************************
@ common
******************************************************/
table a,
table img,
table span,
table label,
table input{vertical-align:middle}

/* list Table */
table.list{width:100%;table-layout:fixed;border-top:solid 2px #666;border-bottom:solid 2px #666}
table.list td,table.list th{height:20px;padding:15px 20px;font-size:16px;line-height:20px;text-align:center;vertical-align:middle;color:#666}
table.list td{border-top:1px solid #dedede}
table.list td:first-child,table.list th:first-child{border-left:none}
table.list th{color:#333;background:#fff}

/* Input Table */
table.info{width:100%;table-layout:fixed;border-top:solid 2px #666;border-bottom:solid 2px #666}
table.info td,table.info th{height:32px;font-size:16px;color:#666;text-align:left;vertical-align:middle;padding:10px 10px 10px 20px;border-bottom:solid 1px #dedede}
table.info th{font-weight:400;line-height:32px;background-color:#f6f6f6}
table.info td{line-height:20px}
table.info td:first-child,
table.info th:first-child{border-left:none}
table.info td:last-child,
table.info th:last-child{border-right:none}
table.info .m_title{display:none;color:#333}

/* paging */
.paging_wrap{position:relative}
.paging{margin-top:30px;text-align:center}
.paging img{vertical-align:middle}
.paging ol{display:inline-block}
.paging ol li{float:left}
.paging ol li a,
.paging ol li span{display:block;float:left;width:28px;height:28px;font-size:16px;color:#888;text-align:center;line-height:28px}
.paging ol li a.btn_prev,
.paging ol li a.btn_prev_end,
.paging ol li a.btn_next,
.paging ol li a.btn_next_end{width:18px}
.paging ol li a.btn_prev{margin-right:15px}
.paging ol li a.btn_next{margin-left:15px}
.paging ol li a img{vertical-align:top}
.paging ol li .current{cursor:default}
.paging ol li .current{color:#fff;background:#363b74;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%}

/* btn_type */
.btn_01{display:inline-block;height:40px;padding:0 20px;text-align:center;line-height:40px;border-radius:20px;-webkit-border-radius:20px;box-sizing:border-box}
.btn_02{display:inline-block;height:30px;padding:0 20px;text-align:center;font-size:14px;line-height:30px;border-radius:12px;-webkit-border-radius:15px;box-sizing:border-box}
.btn_03{display:inline-block;height:60px;padding:0 20px;text-align:center;font-size:18px;line-height:60px;border-radius:30px;-webkit-border-radius:30px;box-sizing:border-box}
.btn_04{display:inline-block;height:60px;padding:0 20px;text-align:center;font-size:18px;line-height:60px;border-radius:10px;-webkit-border-radius:10px;box-sizing:border-box}
.btn_05{display:inline-block;height:50px;padding:0 20px;text-align:center;font-size:16px;line-height:50px;border-radius:10px;-webkit-border-radius:10px;box-sizing:border-box}
.btn_06{display:inline-block;min-width:110px;height:40px;padding:0 40px;text-align:center;font-size:16px;line-height:40px;border-radius:10px;-webkit-border-radius:10px;box-sizing:border-box}

.btn_block{display:block}

.btn_page{display:inline-block;width:100%;margin:30px 0 0 1px}
.btn_page > a{display:block;width:50%;float:left;position:relative;margin-left:-1px}
.btn_page > a:first-child{border-top-right-radius:0;-webkit-border-top-right-radius:0;border-bottom-right-radius:0;-webkit-border-bottom-right-radius:0;z-index:1}
.btn_page > a:last-child{border-top-left-radius:0;-webkit-border-top-left-radius:0;border-bottom-left-radius:0;-webkit-border-bottom-left-radius:0}

.btn_wrap{margin-top:30px;text-align:center}
.btn_wrap > a{margin:0 3px}

/* btn_color */
.btn_c01{color:#666 !important;border:solid 1px #999;background:#fff}
.btn_c02{color:#888 !important;border:solid 1px #c9c9c9;background:#fff}
.btn_c03{color:#fff !important;border:solid 1px #ef4d92;background:#ef4d92}

/* btn_close */
.btn_close{display:block;position:absolute;width:28px;height:28px}
.btn_close:after,
.btn_close:before{content:"";position:absolute;left:50%;top:50%;width:1px;height:16px;margin-top:-8px;background:#666}
.btn_close:after{-ms-transform: rotate(45deg);-webkit-transform: rotate(45deg);transform: rotate(45deg)}
.btn_close:before{-ms-transform: rotate(-45deg);-webkit-transform: rotate(45deg);transform: rotate(-45deg)}

.btn_delete{display:block;position:relative;width:20px;height:20px;border:solid 1px #e3e3e3;background:#fff;box-sizing:border-box}
.btn_delete:after,
.btn_delete:before{content:"";position:absolute;left:50%;top:50%;width:1px;height:10px;margin-top:-5px;background:#666}
.btn_delete:after{-ms-transform: rotate(45deg);-webkit-transform: rotate(45deg);transform: rotate(45deg)}
.btn_delete:before{-ms-transform: rotate(-45deg);-webkit-transform: rotate(45deg);transform: rotate(-45deg)}

/* color */
.color_01{color:#ef4d92 !important}/* pink */
.color_02{color:#333 !important}/* black */
.color_03{color:#f57822 !important}/* orange */

/* text_align */
.text_c{text-align:center !important}
.text_l{text-align:left !important}

/* responsive content control */
.t_layout_b{display:block}
.t_layout_tc{display:table-cell}
.t_layout_tcl{display:table-column}

.m_layout_tcl{display:table-column}
.m_layout_tc{display:table-cell}



/******************************************************
@ layout
******************************************************/
#wrap{position:relative;-webkit-transition: all 0.3s ease;transition: all 0.3s ease;opacity:0;overflow:hidden}
#wrap.start{opacity:1}


/* header */
#header{position:absolute;width:100%;height:174px;text-align:center;background:#fff;z-index:100}
#header.all{z-index:110}
#header.all .bar{width:100% !important;}

#header.fix{position:fixed;height:auto}
#header.fix .header_wrap{display:none}
#header.fix .gnb_wrap{max-width:none;padding:0}
#header.fix .gnb_wrap > .inner{padding-left:190px;border-radius:0}
#header.fix .gnb_wrap > .inner .fix_logo{top:11px;margin-top:0;width:auto;opacity:1}
#header.fix .all_shop{top:60px}

#header.open{height:100% !important;position:fixed}
#header.open .header_wrap:after{width:100%}


.header_wrap{position:relative;max-width:1760px;margin:0 auto;padding:0 40px;background:#fff;overflow:hidden}
.header_wrap:after{content:"";position:absolute;bottom:0;left:0;width:0;height:1px;background:#b0b0b0;transition:width 0.65s cubic-bezier(0.230, 1.000, 0.320, 1.000);z-index:4}
.header_wrap .inner{position:relative}
.header_wrap .slogan{position:absolute;left:0;top:50%;height:43px;margin-top:-33px;padding:15px 0 0 67px;text-align:left;font-weight:500;line-height:22px}
.header_wrap .slogan img{position:absolute;left:0;top:0}
.header_wrap h1{display:inline-block;padding:36px 0}
.header_wrap .btn_m_list{display:none;position:absolute;top:50%;left:0;width:36px;height:36px;margin-top:-18px;background:#6267a1;border-radius:15px}
.header_wrap .btn_m_list > span{position:absolute;left:50%;width:18px;height:2px;margin-left:-9px;background:#fff;transform: rotate(0deg);-webkit-transform: rotate(0deg);transition: .25s ease-in-out;-webkit-transition: .25s ease-in-out}
.header_wrap .btn_m_list > span:first-child{top:11px}
.header_wrap .btn_m_list > span:nth-child(2){top:17px}
.header_wrap .btn_m_list > span:nth-child(3){top:17px}
.header_wrap .btn_m_list > span:nth-child(4){top:23px}

.header_wrap .global_menu{position:absolute;top:50%;right:0;margin-top:-13px}
.header_wrap .global_menu:after{content:'';display:block;clear:both}
.header_wrap .global_menu li{float:left;margin-left:30px}
.header_wrap .global_menu li a{position:relative;top:0;display:block}
.header_wrap .global_menu .btn_top_cart img{position:relative;z-index:5}
.header_wrap .global_menu .btn_top_cart em{position:absolute;top:9px;left:0;width:100%;height:17px;display:block;font-size:12px;color:#333;background:#fff;font-weight:700;line-height:17px;text-align:center;z-index:2}
.header_wrap .global_menu .btn_top_cart{position:relative}

#gnb{position:relative;background:#fff}
.gnb_wrap{position:relative;max-width:1760px;margin:0 auto;padding:0 40px;line-height:60px}
.gnb_wrap > .inner{position:relative;padding-left:10px;background:#6267a1;border-radius:30px;overflow:hidden}
.gnb_wrap .fix_logo{position:absolute;left:40px;top:0;width:0;opacity:0;margin-top:-29px;transition: .35s ease-in-out;-webkit-transition: .35s ease-in-out}
.gnb_wrap .brand_intro{position:absolute;right:0;top:0}
.gnb_wrap .brand_intro:after{content:"";display:block;clear:both}
.gnb_wrap .brand_intro li{float:left;border-left:solid 1px #a791bd}
.gnb_wrap .brand_intro li:first-child{background-color:#8162a1}
.gnb_wrap .brand_intro li:nth-child(2){background-color:#ab67aa}
.gnb_wrap .brand_intro li:nth-child(3){background-color:#cc58ad}
.gnb_wrap .brand_intro a{display:block;padding:0 20px;color:#fff}
.gnb_wrap .brand_intro li:nth-child(3) a{padding-left:50px;padding-right:30px;}
.gnb_wrap .brand_intro .btn_benefit{background:url(../../images/common/btn_icon_benefit.png) no-repeat left 20px center}
.gnb_wrap .btn_all_menu{display:block;position:relative;float:left;width:41px;height:41px;margin-top:9px;background:#b1b3d0;border-radius:50%}
.gnb_wrap .btn_all_menu > span{position:absolute;left:50%;width:18px;height:3px;margin-left:-9px;background:#6267a1}
.gnb_wrap .btn_all_menu > span:first-child{top:12px}
.gnb_wrap .btn_all_menu > span:nth-child(2){top:19px}
.gnb_wrap .btn_all_menu > span:nth-child(3){top:19px}
.gnb_wrap .btn_all_menu > span:nth-child(4){top:26px}
.gnb_wrap .gnb_menu_list{float:left;padding-left:40px}
.gnb_wrap .gnb_menu_list:after{content:'';display:block;clear:both;}
.gnb_wrap .gnb_menu_list > li{float:left;margin-right:30px;}
.gnb_wrap .gnb_menu_list > li > a{display:block;font-size:22px;color:#fff;font-weight:700;letter-spacing:1.5px;}
.gnb_wrap .gnb_menu_list > li .snb{display:none}
.all_shop{position:absolute;top:174px;left:0;width:100%;height:560px;padding:96px 0 0 0;text-align:left;background:#fff;overflow:hidden;-ms-transform: translate(0px, -760px);transform: translate3d(0px, -760px, 0px);box-sizing:border-box;transition:transform 0.65s cubic-bezier(0.785, 0.135, 0.150, 0.860);z-index:-1}
.all_shop.open{-ms-transform: translate(0px, 0px);transform: translate3d(0px, 0px, 0px)}
.all_shop .inner{position:relative;max-width:1760px;height:100%;margin:0 auto;padding:0 40px}
.all_shop .bar{display:block;position:absolute;top:96px;left:0;width:0;height:1px;background:#d8d3c4;transition:width 0.65s cubic-bezier(0.230, 1.000, 0.320, 1.000)}
.all_shop .all_shop_list{}
.all_shop .all_shop_list:after{content:'';display:block;clear:both}
.all_shop .all_shop_list > li{position:relative;float:left;padding-left:86px;box-sizing:border-box}
.all_shop .all_shop_list > li:first-child{padding-left:0}
.all_shop .all_shop_list > li .icon{position:relative;display:block;width:92px;height:92px;margin-top:-46px;margin-bottom:25px;font-size:14px;font-weight:700;text-align:center;color:#b8b9d0;letter-spacing:1.3px;background:#565a89;border-radius:38px;transition:all 0.6s ease;z-index:10}
.all_shop .all_shop_list > li .icon span{display:block;padding-top:62px;background-repeat:no-repeat;background-position:center 20px;background-size:auto 32px}
.all_shop .all_shop_list .list_01 .icon > span{background-image:url(../../images/common/all_shop_icon01.png)}
.all_shop .all_shop_list .list_02 .icon > span{background-image:url(../../images/common/all_shop_icon02.png)}
.all_shop .all_shop_list .list_03 .icon > span{background-image:url(../../images/common/all_shop_icon03.png)}
.all_shop .all_shop_list .list_04 .icon > span{background-image:url(../../images/common/all_shop_icon04.png)}
.all_shop .all_shop_list > li > ul{padding-left:20px}
.all_shop .all_shop_list > li ul li{position:relative;margin-top:20px}
.all_shop .all_shop_list > li ul li:first-child{margin-top:0;}
.all_shop .all_shop_list .product_sort{padding-left:20px}
.all_shop .all_shop_list .product_sort:after{content:"";display:block;clear:both}
.all_shop .all_shop_list .product_sort > div{float:left;padding-right:60px}
.all_shop .all_shop_list .product_sort > div:last-child{padding-right:0}
.all_shop .all_shop_list .product_sort > div > p{margin-bottom:20px;font-size:18px;font-weight:700;color:#333}
.all_shop .all_shop_list .product_sort .special_product{clear:both}
.all_shop .all_shop_list .special_product{margin-top:50px}
.all_shop .all_shop_list .special_product a{font-size:18px;font-weight:700;color:#333}
.all_shop .brand_intro{position:absolute;right:40px;top:0;height:100%}
.all_shop .brand_intro:after{content:"";display:block;clear:both}
.all_shop .brand_intro > div{position:relative;height:100%;float:left;padding:40px 100px 0 40px;border-left:solid 1px #d8d3c4}
.all_shop .brand_intro > div:last-child{padding-right:0}
.all_shop .brand_intro > div > a{font-size:18px;font-weight:700;color:#333}
.all_shop .brand_intro > div ul li{margin-top:20px}

#cover{position:fixed;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,0.5);z-index:80;display:none;}
#m_gnb_wrap{position:fixed;left:0;top:0;width:100%;height:100%;background:#000;opacity:0.5;z-index:80;display:none}



.add_order_pet{position:absolute;top:100%;left:50%;display:block;width:123px;margin-top:-20px;margin-left:-62px;height:0;overflow:hidden;transition:all 0.65s ease-out;z-index:1;}
.add_order_pet.open{height:143px;margin-top:0;}
.add_order_pet span{display:block;position:relative;margin-top:20px;width:123px;height:123px;font-size:14px;color:#333;line-height:20px;font-weight:400;padding-top:30px;background:#fafafa;border:1px solid #333;border-radius:50%;text-align:center;box-sizing:border-box;z-index:1;}
.add_order_pet span strong{color:#ff9000;font-size:24px;font-weight:400}
.add_order_pet:after{content:'';position:absolute;top:0;left:50%;width:1px;height:123px;background:#333;}

.top_search{position:absolute;top:0;left:0;width:100%;height:500px;padding:65px 0;text-align:center;box-sizing:border-box;background:#fff;z-index:100;transform:scale(0.95);opacity:0;visibility:hidden;transform-origin: 50% 0%;}
.top_search.open{visibility:visible;transform:scale(1);opacity:1;transition:visibility 0s 0s, transform 0.45s 0s, opacity 0.45s 0s ease-out}
.top_search.close{visibility:hidden;transform:scale(0.95);opacity:0;transition:visibility 0s 0.45s, transform 0.45s 0s, opacity 0.45s 0s ease-out}
/*.top_search h3{font-size:30px;color:#333;font-weight:400;}
.top_search .input_search{max-width:600px;margin:0 auto;padding-top:63px;}
.top_search .input_search .input{position:relative;}
.top_search .input_search .input input{height:60px;padding:0 60px 0 30px;font-size:18px;color:#fff;background:#333;border:none;}
.top_search .input_search .input > a{display:block;position:absolute;top:0;right:0;width:60px;height:60px;background:url('../../images/common/btn_top_search_go.png') center center no-repeat;}
.top_search input::-webkit-input-placeholder{color:#fff}
.top_search input::-moz-placeholder{color:#fff}
.top_search input:-ms-input-placeholder{color:#fff}
.top_search input:-moz-placeholder{color:#fff}
.top_search input:-webkit-autofill{ -webkit-box-shadow: 0 0 0 30px #333 inset;color:#fff}
.top_search input:focus{color:#fff;}
.top_search .btn_top_search_close{top:0;right:142px;width:30px;height:30px}
.top_search .btn_top_search_close:after,
.top_search .btn_top_search_close:before{height:30px;margin-top:-15px;background:#000}
.top_search .search_autocomplete{top:60px;border-top:none;}*/

.search_autocomplete{position:absolute;top:0;left:0;width:100%;padding:11px 30px;text-align:left;box-sizing:border-box;background:#fff;border:1px solid #bbb}
.search_autocomplete li a{font-size:16px;color:#666;line-height:30px;font-weight:300;}
.search_autocomplete li a em{color:#ff9000}

.ui-autocomplete{font-family:'Roboto','NotoSansKR', sans-serif;font-weight:400;text-align:left;color:#666;font-size:16px;line-height:24px}
.ui-autocomplete .ui-menu-item{padding:0 !important}
.ui-autocomplete .ui-menu-item .ui-menu-item-wrapper{display:block;padding:10px 30px;margin:0 1px}
.ui-autocomplete .ui-menu-item .ui-state-active{border:none;background:#eee}


/* quick */
#quick{position:fixed;top:0;right:-700px;width:550px;height:100%;background:#fff;z-index:110;transition:all 0.45s cubic-bezier(0.785, 0.135, 0.150, 0.860);
	-webkit-box-shadow: -5px 0px 20px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: -5px 0px 20px 0px rgba(0,0,0,0.2);
	box-shadow: -5px 0px 20px 0px rgba(0,0,0,0.2);
}
#quick.open{right:0;}
#quick .quick_wrap{position:absolute;top:0;right:0;bottom:0;left:0;width:auto;height:auto;margin:120px auto 0;padding-bottom:85px;overflow-y:auto;-webkit-overflow-scrolling: touch;}
#quick .btn_quick_close{position:absolute;left:-65px;top:29px;height:86px;padding-left:65px;background:url(../../images/common/bg_quick_close.png) no-repeat left top}
#quick .btn_quick_close .btn_close{left:40px;top:50%;width:50px;height:50px;margin-top:-25px;background:#6267a1;border-radius:50%}
#quick .btn_quick_close .btn_close:before,
#quick .btn_quick_close .btn_close:after{height:20px;width:2px;margin:-10px 0 0 -1px;background:#fff}

.quick_login{border-bottom:solid 1px #d6d7e3}
.quick_login:after{content:"";display:block;clear:both}
.quick_login > a{display:block;width:50%;height:70px;float:left;text-align:center;color:#333;font-size:18px;line-height:70px;box-sizing:border-box}
.quick_login > a > span{display:inline-block;height:70px;line-height:70px;background-repeat:no-repeat;background-position:left center}
.quick_login > .btn_login{border-right:solid 1px #d6d7e3}
.quick_login > .btn_login > span{padding-left:41px;background-image:url(../../images/common/icon_quick_login.png);background-size:26px auto}
.quick_login > .btn_membership > span{padding-left:51px;background-image:url(../../images/common/icon_quick_membership.png);background-size:36px auto}

.quick_benefit_wrap{padding-top:40px;text-align:center}
.quick_benefit_wrap .bx-pager{margin-top:30px;text-align:center}

.quick_user_info{position:relative;margin:0 30px;padding-top:22px;font-size:24px}
.quick_user_info .name{line-height:98px}
.quick_user_info .name > span{font-weight:700;color:#ef4d92}
.quick_user_info .grade_icon{position:absolute;right:-7px;top:22px;transition:all 0.45s}

.quick_top.fix .quick_user_info .name{line-height:48px}
.quick_top.fix .quick_user_info .grade_icon{width:48px;height:48px;line-height:48px}
.quick_top.fix .quick_user_info .grade_icon .d_c > span{font-size:24px}

.quick_wrap .no_data{padding:50px 20px;text-align:center;border-top:solid 2px #666;border-bottom:solid 2px #666}
.quick_wrap h3{margin-bottom:19px;font-size:16px;color:#333;font-weight:500;line-height:22px}
.quick_wrap h3 em{display:inline-block;width:22px;height:22px;line-height:22px;font-size:14px;color:#fff;margin-left:5px;background:#333;text-align:center;border-radius:50%;}

.quick_wrap .user_shopping_info{padding:0 30px}
.quick_wrap .user_shopping_info > div{position:relative;padding-top:20px}
.quick_wrap .user_shopping_info > div:after{content:"";position:absolute;right:25px;top:0;width:1px;height:100%;background:#c6c6c6;z-index:-1}
.quick_wrap .my_shopping_info ul{position:relative;border:solid 1px #c6c6c6;background:#fff;border-radius:25px}
.quick_wrap .my_shopping_info ul:after{content:"";display:block;clear:both}
.quick_wrap .my_shopping_info ul li{float:left;width:50%;text-align:center;box-sizing:border-box}
.quick_wrap .my_shopping_info ul li:first-child{padding-right:40px}
.quick_wrap .my_shopping_info ul li:last-child{padding-left:40px}
.quick_wrap .my_shopping_info ul li:nth-child(2){position:absolute;left:50%;top:0;width:80px;margin-left:-40px;border-left:solid 1px #c6c6c6;border-right:solid 1px #c6c6c6}
.quick_wrap .my_shopping_info ul li dl{padding:20px 0}
.quick_wrap .my_shopping_info ul li dl dt{padding-bottom:5px;font-size:15px;color:#888}
.quick_wrap .my_shopping_info ul li dl dd{position:relative;font-size:32px;font-weight:500;color:#2b407f;line-height:32px}
.quick_wrap .my_shopping_info .point_icon{display:inline-block;width:32px;height:32px;margin-left:5px;font-size:20px;color:#fff;text-align:center;font-weight:500;line-height:32px;background-color:#ef4d92;border-radius:50%}

.quick_wrap .my_notice_list{padding-top:30px}
.quick_wrap .my_notice_list p{position:relative;margin-top:10px;padding:15px 56px 15px 30px;color:#fff;line-height:24px;border-radius:30px;}
.quick_wrap .my_notice_list p:first-child{margin-top:0}
.quick_wrap .my_notice_list p .btn_notice_del{width:36px;height:36px;right:8px;top:8px;background:#fff;border-radius:50%}
.quick_wrap .my_notice_list p .btn_notice_del:before,
.quick_wrap .my_notice_list p .btn_notice_del:after{height:10px;margin-top:-5px}
.quick_wrap .my_notice_list .notice01{background:#8c78ab}
.quick_wrap .my_notice_list .notice02{background:#69bac4}
.quick_wrap .my_notice_list .notice03{background:#69c483}

.quick_wrap  .my_order_state{margin-top:62px}


.quick_menu{position:relative;padding:30px 0 35px 0}
.quick_menu .menu_list:after{content:"";display:block;clear:both}
.quick_menu .menu_list > dl{float:left; width:33.33%;padding-bottom:20px;box-sizing:border-box;border-left:1px solid #dedede;border-bottom:1px solid #dedede}
.quick_menu .menu_list > dl:first-child{border-left:none}
.quick_menu .menu_list > dl dt{margin-bottom:5px;padding-left:20px;color:#333;font-size:18px;font-weight:700;line-height:50px;border-top:solid 1px #dedede;border-bottom:solid 1px #dedede;background:#f7f7f7}
.quick_menu .menu_list > dl dd{margin-top:15px;padding-left:20px;}
.quick_menu .menu_list > dl dd a{display:block}

.quick_cart{padding:0 30px}
.quick_cart h3{margin-bottom:0}
.quick_cart .cart_list{padding:30px 0}
.quick_cart .cart_list > div{margin-top:10px}
.quick_cart .cart_list > div:first-child{margin-top:0}
.quick_cart .cart_total_price{padding:15px 20px;border-top:solid 2px #666;border-bottom:solid 2px #666;line-height:24px;background:#f7f7f7}
.quick_cart .cart_total_price:after{content:"";display:block;clear:both}
.quick_cart .cart_total_price .title{float:left}
.quick_cart .cart_total_price .price{float:right;font-size:20px;color:#333}
.quick_cart .cart_total_price .price > span{color:#ef4d92;font-size:24px}

.product_info_wrap{position:relative;min-height:102px;padding-left:120px;padding-right:100px}
.product_info_wrap .d_t{min-height:102px}
.product_info_wrap .thumb{position:absolute;left:0;top:0;border:solid 1px #e3e3e3}
.product_info_wrap .thumb .btn_delete{position:absolute;right:0;top:0;border-right:none;border-top:none}
.product_info_wrap .name{display:block}
.product_info_wrap .price{position:absolute;right:10px;top:50%;margin-top:-10px;font-size:18px;font-weight:500;color:#333;line-height:18px}
.product_info_wrap .price{}

.quick_view_product{position:relative;margin-top:38px;padding:0 30px;}
.quick_view_product ul{overflow:hidden;margin:0 -2.5px}
.quick_view_product ul li{padding:2.5px;width:25%;float:left;box-sizing:border-box}
.quick_view_product ul li a{display:block;text-align:center}
.quick_view_product .thumb{display:inline-block;position:relative;border:solid 1px #e3e3e3}
.quick_view_product .thumb .btn_delete{position:absolute;right:0;top:0;border-right:none;border-top:none}
.quick_view_product .name{display:block;padding-top:15px;font-size:14px}

.quick_purchase_product{position:relative;margin-top:80px;padding:0 30px}
.quick_purchase_product .bx-pager{position:absolute;right:48px;top:4px}



/* container */
#container{position:relative;max-width:1760px;margin:174px auto 110px;padding:0 40px}
#contents{max-width:1100px;margin:0 auto;padding-top:40px}


/* footer */
#footer{padding-bottom:30px}
.footer_wrap{position:relative;max-width:1760px;margin:0 auto;padding:0 40px}
.footer_wrap .footer_menu_wrap{margin-bottom:50px;padding-bottom:20px;border-bottom:solid 2px #666}
.footer_wrap .footer_menu_wrap:after{content:"";display:block;clear:both}
.footer_wrap .footer_menu{float:left;line-height:29px}
.footer_wrap .footer_menu li{position:relative;float:left;margin-left:10px;padding-left:11px}
.footer_wrap .footer_menu li:after{content:"|";position:absolute;left:0;top:0;color:#c3c3c3}
.footer_wrap .footer_menu li:first-child:after{display:none}
.footer_wrap .footer_sns_wrap{float:right}
.footer_wrap .footer_sns_wrap > select{display:inline-block;width:auto;height:29px;line-height:29px;border:none;background-color:#fff}
.footer_wrap .footer_sns_wrap > ul{display:inline-block;margin-left:30px}
.footer_wrap .footer_sns_wrap > ul > li{float:left;padding-right:20px}
.footer_wrap .footer_sns_wrap > ul > li a{display:block}
.footer_wrap .address_wrap{position:relative;padding-left:250px;font-size:15px;line-height:24px}
.footer_wrap .address_wrap h2{position:absolute;left:0;top:-13px}
.footer_wrap .address_wrap address > p span{display:inline-block;position:relative;margin-right:5px;padding-right:6px}
.footer_wrap .address_wrap address > p span:last-child{margin:0;padding:0}
.footer_wrap .address_wrap address > p span:after{content:"|";position:absolute;right:0;top:0;color:#999}
.footer_wrap .address_wrap address > p span:last-child:after{display:none}
.footer_wrap .address_wrap .copy{display:block;margin-top:12px;font-size:13px;color:#999;line-height:18px}


/*  layerPopup */
.pop_wrap{position:fixed;top:0;left:0;width:100%;height:100%;z-index:500;display:none;background:rgba(0,0,0,0.5);overflow-y:auto}
.pop_wrap > div{display:table;width:100%;height:100%;table-layout:fixed}
.pop_wrap > div > div{display:table-cell;width:100%;vertical-align:middle}
.pop_data{position:relative;margin:0 auto;padding:40px;text-align:center;font-size:16px;border:1px solid #c9c9c9;box-sizing:border-box;background:#fff}
.pop_data .pop_title{margin-bottom:12px;text-align:left;color:#333;font-size:18px;font-weight:700}
.pop_data .pop_info{line-height:22px}
.pop_data .pop_info_list{margin-bottom:20px}
.pop_data .pop_info_list li{position:relative;margin-top:5px;padding-left:10px;text-align:left;line-height:22px}
.pop_data .pop_info_list li:first-child{margin-top:0}
.pop_data .pop_info_list li:after{content:"-";position:absolute;left:0;top:0}
.pop_data .btn_close{position:absolute;right:0;top:0;border-left:solid 1px #c9c9c9;border-bottom:solid 1px #c9c9c9}



/* ******************************************************
	@ reponsive
*******************************************************/
@media screen and (max-width:1660px){		


}

@media screen and (max-width:1600px){		
	.all_shop .all_shop_list > li{padding-left:76px}
	.all_shop .all_shop_list .product_sort > div{padding-right:50px}
	.all_shop .brand_intro > div{padding-left:30px;padding-right:50px}
}

@media screen and (max-width:1366px){		
	.all_shop .all_shop_list > li{padding-left:56px}
	.all_shop .all_shop_list > li > ul,
	.all_shop .all_shop_list .product_sort{padding-left:10px}
	.all_shop .brand_intro > div{padding-right:30px}
}

@media screen and (max-width:1280px){			
	.all_shop .all_shop_list{padding-right:334px}
	.all_shop .all_shop_list > li{width:19%;padding-left:0}
	.all_shop .all_shop_list > li:first-child{width:43%}	
	.all_shop .all_shop_list .product_sort > div{width:30%;padding:0 0 0 10px;box-sizing:border-box}
	.all_shop .all_shop_list .product_sort > div:first-child{width:40%;padding:0}
	.all_shop .brand_intro > div{padding-left:20px;padding-right:30px}	
}

@media screen and (max-width:1150px){			
	.all_shop{font-size:15px}
	.all_shop .all_shop_list{padding-right:308px}	
	.all_shop .all_shop_list > li .icon{width:72px;height:72px;margin-top:-36px;font-size:13px;letter-spacing:0.5px;border-radius:28px}
	.all_shop .all_shop_list > li .icon span{padding-top:47px;background-position:center 12px}
	.all_shop .brand_intro > div{padding-right:20px}	

}

@media screen and (max-width:1024px){	

	/* responsive content control */
	.t_layout_b,
	.t_layout_tc,
	.t_layout_tcl{display:none}
	
	/* list Table */
	table.list tr:first-child td{border-top:solid 2px #666}


	/* info Table */
	table.info .m_title{display:block;margin-bottom:5px}
	
	/* header */
	#header{height:68px}

	#header.fix .header_wrap{display:block}
	#header.fix .gnb_wrap > .inner{padding-left:0}

	.header_wrap{padding:0 20px}
	.header_wrap .slogan{display:none}
	.header_wrap h1{padding:20px 0}
	.header_wrap h1 img{width:108px}
	.header_wrap .btn_m_list{display:block}
	.header_wrap .global_menu li{margin-left:20px}
	.header_wrap .global_menu .btn_top_search{display:none}	

	#gnb{display:none;position:absolute;top:0;bottom:0;left:0;right:0;width:auto;height:auto;margin-top:68px;text-align:left;background:#fff;z-index:90;-webkit-overflow-scrolling: touch;transition:all 0.45s cubic-bezier(0.785, 0.135, 0.150, 0.860)}	
	#header.open #gnb{display:block}	
	#header.open .btn_m_list span:first-child,
	#header.open .btn_m_list span:nth-child(4){display:none}
	#header.open .btn_m_list span:nth-child(2){transform: rotate(45deg);-o-transform: rotate(45deg);-moz-transform: rotate(45deg);-webkit-transform: rotate(45deg)}
	#header.open .btn_m_list span:nth-child(3){visibility:visible;transform: rotate(-45deg);-o-transform: rotate(-45deg);-moz-transform: rotate(-45deg);-webkit-transform: rotate(-45deg)}

	.gnb_wrap{position:absolute;left:0;right:0;top:0;bottom:0;width:auto;height:auto;padding:0 0 30px;line-height:32px;overflow-y:auto}	
	.gnb_wrap .btn_all_menu{display:none}
	.gnb_wrap .inner{padding:0;background:none;border-radius:0}

	.gnb_wrap .gnb_menu_list{float:none;padding-left:0}
	.gnb_wrap .gnb_menu_list > li{float:none;margin:0;background:#fff;border-bottom:solid 1px #b0b0b0}
	.gnb_wrap .gnb_menu_list > li > a{display:block;position:relative;padding:0 20px;color:#333;font-size:20px;line-height:50px}
	.gnb_wrap .gnb_menu_list > li > a .arrow{position:absolute;top:50%;right:20px;width:28px;height:14px;margin-top:-7px;z-index:10;-webkit-transition: all 0.5s ease;transition: all 0.5s ease}
	.gnb_wrap .gnb_menu_list > li > a .arrow:after,
	.gnb_wrap .gnb_menu_list > li > a .arrow:before{content:"";display:block;position:absolute;width:2px;height:14px;background:#333;-webkit-border-radius:2px;border-radius:2px}
	.gnb_wrap .gnb_menu_list > li > a .arrow:after{top:0;left:8px;-webkit-transform: rotate(-45deg);transform: rotate(-45deg)}
	.gnb_wrap .gnb_menu_list > li > a .arrow:before{top:0;right:9px;-webkit-transform: rotate(45deg);transform: rotate(45deg)}

	.gnb_wrap .gnb_menu_list > li .snb{border-top:solid 1px #b0b0b0}
	.gnb_wrap .gnb_menu_list > li.actived .snb{display:block}
	.gnb_wrap .gnb_menu_list > li.actived > a .arrow{transform: rotate(180deg)}
	.gnb_wrap .gnb_menu_list .snb:after{content:"";display:block;clear:both}
	.gnb_wrap .gnb_menu_list .snb > li{width:33.33%;float:left;text-align:center}
	.gnb_wrap .gnb_menu_list .snb > li > a{display:block;color:#333;font-size:15px;line-height:40px;border-left:solid 1px #b0b0b0}
	.gnb_wrap .gnb_menu_list .snb > li:first-child > a{border-left:none}

	.gnb_wrap .gnb_menu_list > li.menu01.actived{background:#e6e6e6}
	.gnb_wrap .gnb_menu_list > li.menu01 .snb{padding:0 20px 20px;border-top:none}
	.gnb_wrap .gnb_menu_list > li.menu01 a{border-bottom:none}
	.gnb_wrap .gnb_menu_list .product_wrap{font-size:14px;line-height:20px;border:solid 1px #b0b0b0;background:#fff}
	.gnb_wrap .gnb_menu_list .product_wrap > ul:after{content:"";display:block;clear:both}
	.gnb_wrap .gnb_menu_list .product_wrap > ul > li{float:left;width:33.33%;border-left:solid 1px #b0b0b0;box-sizing:border-box}
	.gnb_wrap .gnb_menu_list .product_wrap > ul > li:first-child{width:33.34%;border-left:none}
	.gnb_wrap .gnb_menu_list .product_wrap > ul > li a{display:block;padding:0 20px}
	.gnb_wrap .gnb_menu_list .product_sort{border-bottom:solid 1px #b0b0b0}
	.gnb_wrap .gnb_menu_list .product_sort > li ul{padding:10px 0}
	.gnb_wrap .gnb_menu_list .product_sort > li ul li{margin-top:10px}
	.gnb_wrap .gnb_menu_list .product_sort > li ul li:first-child{margin-top:0}
	.gnb_wrap .gnb_menu_list .product_sort > li > p{padding:0 20px;color:#333;font-size:15px;font-weight:700;line-height:40px;border-bottom:solid 1px #b0b0b0}
	.gnb_wrap .gnb_menu_list .special_product a{color:#333;font-size:15px;font-weight:700;line-height:40px}
	.gnb_wrap .gnb_menu_list .special_product a > span{display:inline-block;position:relative;padding-right:25px}
	.gnb_wrap .gnb_menu_list .special_product .icon_new{position:absolute;right:0;top:50%;width:18px;margin-top:-9px;line-height:18px;color:#fff;font-size:12px;text-align:center;background:#ef4d92;border-radius:7px;}

	.gnb_wrap .brand_intro{position:static;margin:30px 20px 0}
	.gnb_wrap .brand_intro li{width:33.33%;text-align:center;border:none;background:none !important}
	.gnb_wrap .brand_intro a{position:relative;padding:0;font-size:15px;color:#333;font-weight:700}
	.gnb_wrap .brand_intro a:before{content:"";display:block;width:62px;height:62px;margin:0 auto;background-repeat:no-repeat;background-position:left top;background-size:62px auto}
	.gnb_wrap .brand_intro li:first-child a:before{background-image:url(../../images/common/icon_brand_intro01.png)}
	.gnb_wrap .brand_intro li:nth-child(2) a:before{background-image:url(../../images/common/icon_brand_intro02.png)}
	.gnb_wrap .brand_intro li:last-child a:before{background-image:url(../../images/common/icon_brand_intro03.png)}
	.gnb_wrap .brand_intro li:nth-child(3) a{padding:0}
	.gnb_wrap .brand_intro .btn_benefit{padding:0}
	.gnb_wrap .brand_intro .btn_benefit a > span{display:none}

	.top_search{position:relative;top:auto;left:auto;height:auto;padding:0;background:none;visibility:visible !important;transform:scale(1) !important;opacity:1 !important;transition:none}
	.top_search h3{display:none}
	.top_search .input_search{max-width:none;margin-top:30px;padding:0 20px}
	.top_search .input_search .input input{height:40px;color:#fff;font-size:13px;border-radius:20px;background:#2b407f}
	.top_search .input_search .input a{width:35px;height:35px;background-size:cover}
	.top_search .hash_list{padding:8px 10px}
	.top_search .hash_list li a{font-size:14px;line-height:24px}
	.top_search .btn_top_search_close{display:none}

	.top_search .search_autocomplete{top:35px;padding:8px 10px}
	.search_autocomplete li a{font-size:14px;line-height:24px}

	.all_shop{display:none}

	/*.quick_user_info .grade_icon{right:-24px}*/


	#container{margin-top:68px;padding:0 20px}	
	#contents{padding-top:30px}	


	/* footer */
	#footer{}
	.footer_wrap{padding:0 20px}
	.footer_wrap .footer_menu_wrap{margin-bottom:20px}
	.footer_wrap .address_wrap{padding-left:0}
	.footer_wrap .address_wrap h2{position:static;margin-bottom:20px;text-align:center}	
	
	

}



@media screen and (max-width:768px){		
	/******************************************************
	@ common
	******************************************************/
	.footer_wrap .footer_menu_wrap{padding:0;border:none}
	.footer_wrap .footer_menu{float:none;margin-top:20px;border:solid 1px #c9c9c9}
	.footer_wrap .footer_menu:after{content:"";display:block;clear:both}
	.footer_wrap .footer_menu li{font-size:13px;padding:0;margin:0;width:37%;text-align:center;line-height:40px;border-left:solid 1px #c9c9c9;box-sizing:border-box}
	.footer_wrap .footer_menu li:first-child{width:26%;border:none}
	.footer_wrap .footer_menu li:after{display:none}
	.footer_wrap .footer_sns_wrap{float:none;text-align:center}
	.footer_wrap .address_wrap h2{margin-bottom:10px}
	.footer_wrap .address_wrap h2 img{width:115px}
	.footer_wrap .address_wrap address{font-size:13px;text-align:center;line-height:18px}
	.footer_wrap .address_wrap address > p span{display:block;margin-right:0;padding-right:0}
	.footer_wrap .address_wrap address > p span:after{display:none}

	.footer_wrap .address_wrap .copy{font-size:11px;line-height:16px}

}


@media screen and (max-width:640px){		
	
	/* responsive content control */
	.m_layout_tcl,
	.m_layout_tc{display:none}


	/* Input Table */
	table.list td,table.list th{padding:15px 10px}

	table.info td,table.info th{padding:10px}

	.btn_wrap{margin-top:30px;text-align:center}
	.btn_wrap > a{margin:5px 0 0;display:block;width:100% !important}
	.btn_wrap > a:first-child{margin-top:0}

	/*  layerPopup */
	.pop_data{padding:30px 20px}

	/* quick */	
	#quick{width:100%}
	#quick .quick_wrap{margin-top:72px}
	#quick .btn_quick_close{left:15px;top:10px;width:30px;height:30px;margin:0;padding:0;background:none}
	#quick .btn_quick_close .btn_close{left:0;top:10px;width:30px;height:30px;margin-top:0}
	#quick .btn_quick_close .btn_close:before,
	#quick .btn_quick_close .btn_close:after{height:14px;margin-top:-7px}

	.quick_user_info{margin:0 15px;padding:10px 0 0 40px;font-size:18px;line-height:50px}
	/*.quick_user_info .grade_icon{top:10px;right:0;width:50px;height:50px;font-size:24px;line-height:50px}*/

	.quick_wrap .user_shopping_info{padding:0 15px}	

	.quick_wrap  .my_order_state{margin-top:82px}

	.quick_menu .menu_list > dl dt,
	.quick_menu .menu_list > dl dd{padding-left:15px}

	.quick_cart,
	.quick_view_product,
	.quick_purchase_product{padding:0 15px}
	.quick_purchase_product .bx-pager{right:13px}



}



@media screen and (max-width:480px){	
	.quick_wrap .my_shopping_info ul li:first-child{padding-right:30px}
	.quick_wrap .my_shopping_info ul li:last-child{padding-left:30px}
	.quick_wrap .my_shopping_info ul li:nth-child(2){width:60px;margin-left:-30px}
	.quick_wrap .my_shopping_info ul li dl dd{font-size:24px;line-height:24px}
	.quick_wrap .my_shopping_info .point_icon{width:24px;height:24px;font-size:16px;line-height:24px}

	.quick_wrap  .my_order_state{padding:0 23%}
	.quick_wrap  .my_order_state li:first-child{}
	.quick_wrap  .my_order_state li:last-child{}
	.quick_wrap  .my_order_state li{width:50%}
	.quick_wrap  .my_order_state li a{width:63px;height:63px}
	.quick_wrap  .my_order_state li.actived a{color:#fff;border-color:#6267a1;background:#6267a1}
	.quick_wrap  .my_order_state li span{display:block;margin-top:15px}

	.product_info_wrap{padding-left:115px;padding-right:0}
	.product_info_wrap .price{display:block;position:static;margin-top:5px}


	

}

