/*******************************************************

	100	:	Thin
	200	:	Extra Light(Ultra Light)
	300	:	Light
	400	:	Regular
	500	:	Medium
	600	:	Semi Bold(Demi Bold)
	700	:	Bold
	900	:	Black(Extra Bold)

*******************************************************/

/* Noto Sans(100,300,400,500,700,900) */
@font-face {
  font-family: 'NotoSansKR';
  font-style: normal;
  font-weight: 100;
  src: url('../font/NotoSansKR-Thin.woff2') format('woff2'),
       url('../font/NotoSansKR-Thin.woff') format('woff'),
       url('../font/NotoSansKR-Thin.otf') format('opentype');
}

@font-face {
  font-family: 'NotoSansKR';
  font-style: normal;
  font-weight: 300;
  src: url('../font/NotoSansKR-Light.woff2') format('woff2'),
       url('../font/NotoSansKR-Light.woff') format('woff'),
       url('../font/NotoSansKR-Light.otf') format('opentype');
}

@font-face {
   font-family: 'NotoSansKR';
   font-style: normal;
   font-weight: 400;
   src: url('../font/NotoSansKR-Regular.woff2') format('woff2'),
        url('../font/NotoSansKR-Regular.woff') format('woff'),
        url('../font/NotoSansKR-Regular.otf') format('opentype');
}

@font-face {
   font-family: 'NotoSansKR';
   font-style: normal;
   font-weight: 500;
   src: url('../font/NotoSansKR-Medium.woff2') format('woff2'),
        url('../font/NotoSansKR-Medium.woff') format('woff'),
        url('../font/NotoSansKR-Medium.otf') format('opentype');
}

@font-face {
   font-family: 'NotoSansKR';
   font-style: normal;
   font-weight: 700;
   src: url('../font/NotoSansKR-Bold.woff2') format('woff2'),
        url('../font/NotoSansKR-Bold.woff') format('woff'),
        url('../font/NotoSansKR-Bold.otf') format('opentype');
}

@font-face {
   font-family: 'NotoSansKR';
   font-style: normal;
   font-weight: 900;
   src: url('../font/NotoSansKR-Black.woff2') format('woff2'),
        url('../font/NotoSansKR-Black.woff') format('woff'),
        url('../font/NotoSansKR-Black.otf') format('opentype');
}


/* DuolacL */
@font-face {
   font-family: 'DuolacL';
   font-style: normal;
   src: url('../font/DuolacL_W.eot') format('embedded-opentype'), 
         url('../font/DuolacL_W.woff') format('woff');
}

@font-face {
   font-family: 'DuolacM';
   font-style: normal;
   src: url('../font/DuolacM_W.eot') format('embedded-opentype'),
	     url('../font/DuolacM_W.woff') format('woff');        
}