@charset "UTF-8";
/******************************
제품상세페이지 리뉴얼
2025.08.20
******************************/
#pd25Wrap {
  position: relative;
  max-width: 1760px;
  margin: 3rem auto 80px;
  padding: 0;
}

#pd25Container {
  position: relative;
  max-width: 1100px;
  margin: 3rem auto 80px;
  padding: 0;
  line-height: 140%;
}

#pd25Buyinfo .buyinfo-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 1100px) {
  #pd25Buyinfo .buyinfo-inner {
    padding-top: 40px;
    flex-direction: column;
  }
}
#pd25Buyinfo .buyinfo-inner .buyinfo-left {
  position: relative;
  width: 550px;
  margin-right: 42px;
}
@media (max-width: 1100px) {
  #pd25Buyinfo .buyinfo-inner .buyinfo-left {
    width: 100%;
    height: auto;
    margin: 0;
  }
}
#pd25Buyinfo .buyinfo-inner .buyinfo-left img {
  width: 100%;
  height: auto;
}
#pd25Buyinfo .buyinfo-inner .buyinfo-left .patent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
#pd25Buyinfo .buyinfo-inner .buyinfo-left .patent img {
  width: auto;
  height: auto;
}
#pd25Buyinfo .buyinfo-inner .buyinfo-left .patent .w_img {
  position: absolute;
  top: 0;
  right: -4%;
}
@media (max-width: 1100px) {
  #pd25Buyinfo .buyinfo-inner .buyinfo-left .patent .w_img {
    right: 0;
  }
  #pd25Buyinfo .buyinfo-inner .buyinfo-left .patent .w_img img {
    width: 120px;
  }
}
#pd25Buyinfo .buyinfo-inner .buyinfo-left .patent .m_img {
  position: absolute;
  top: 0;
  left: 0;
}
@media (max-width: 1100px) {
  #pd25Buyinfo .buyinfo-inner .buyinfo-left .patent .m_img img {
    width: 150px;
  }
}
#pd25Buyinfo .buyinfo-inner .buyinfo-right {
  flex: 1;
  padding-top: 20px;
}
@media (max-width: 1100px) {
  #pd25Buyinfo .buyinfo-inner .buyinfo-right {
    padding: 16px 20px 0 20px;
  }
}
#pd25Buyinfo .buyinfo-inner .buyinfo-right .buyinfo-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#pd25Buyinfo .buyinfo-inner .buyinfo-right .buyinfo-top__category {
  display: flex;
  align-items: center;
}
#pd25Buyinfo .buyinfo-inner .buyinfo-right .buyinfo-top__category span {
  font-size: 15px;
  color: #999;
  padding-right: 20px;
  background: url("/images/common/icon_category.svg") no-repeat right center;
}
@media (max-width: 1100px) {
  #pd25Buyinfo .buyinfo-inner .buyinfo-right .buyinfo-top__category span {
    font-size: 13px;
  }
}
#pd25Buyinfo .buyinfo-inner .buyinfo-right .buyinfo-top__share {
  display: block;
  width: 20px;
  height: 20px;
  background: url("/images/common/icon_share.svg") no-repeat center center;
  font-size: 0;
  text-indent: -20000px;
}
#pd25Buyinfo .buyinfo-inner .buyinfo-right .buyinfo-name {
  margin-top: 8px;
  font-size: 22px;
  font-weight: bold;
  color: #212121;
  line-height: 140%;
}
@media (max-width: 1100px) {
  #pd25Buyinfo .buyinfo-inner .buyinfo-right .buyinfo-name {
    font-size: 18px;
  }
}
#pd25Buyinfo .buyinfo-inner .buyinfo-right .buyinfo-hash {
  display: flex;
  flex-wrap: wrap;
  margin-top: 7px;
}
#pd25Buyinfo .buyinfo-inner .buyinfo-right .buyinfo-hash li {
  display: block;
  margin-right: 5px;
  font-size: 14px;
  color: #999;
}
#pd25Buyinfo .buyinfo-inner .buyinfo-right .buyinfo-price {
  margin-top: 12px;
}
#pd25Buyinfo .buyinfo-inner .buyinfo-right .buyinfo-price__original {
  display: block;
  margin-bottom: 8px;
  font-size: 22px;
  color: #999;
  text-decoration: line-through;
}
@media (max-width: 1100px) {
  #pd25Buyinfo .buyinfo-inner .buyinfo-right .buyinfo-price__original {
    font-size: 20px;
  }
}
#pd25Buyinfo .buyinfo-inner .buyinfo-right .buyinfo-price__actual {
  font-size: 26px;
  font-weight: bold;
  color: #212121;
}
@media (max-width: 1100px) {
  #pd25Buyinfo .buyinfo-inner .buyinfo-right .buyinfo-price__actual {
    font-size: 24px;
  }
}
#pd25Buyinfo .buyinfo-inner .buyinfo-right .buyinfo-price__rate {
  margin-left: 4px;
  font-size: 26px;
  font-weight: bold;
  color: #ea1919;
}
@media (max-width: 1100px) {
  #pd25Buyinfo .buyinfo-inner .buyinfo-right .buyinfo-price__rate {
    font-size: 24px;
  }
}
#pd25Buyinfo .buyinfo-inner .buyinfo-right .buyinfo-coupon {
  margin-top: 44px;
  padding-bottom: 20px;
  border-bottom: #999 1px solid;
}
#pd25Buyinfo .buyinfo-inner .buyinfo-right .buyinfo-coupon__inner {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
#pd25Buyinfo .buyinfo-inner .buyinfo-right .buyinfo-coupon__inner:first-child {
  margin-top: 0;
}
#pd25Buyinfo .buyinfo-inner .buyinfo-right .buyinfo-coupon__inner span {
  display: flex;
  align-items: center;
  padding-left: 28px;
  height: 24px;
  background: url("/images/common/icon_coupon.svg") no-repeat left center;
  font-size: 13px;
  font-weight: bold;
  color: #393280;
}
#pd25Buyinfo .buyinfo-inner .buyinfo-right .buyinfo-coupon__inner a {
  height: 24px;
  padding: 0 20px 0 6px;
  border-radius: 4px;
  background: url("/images/common/icon_coupon_down.svg") no-repeat right 6px center/14px;
  background-color: rgba(57, 50, 128, 0.1);
  font-size: 10px;
  color: #393280;
  line-height: 24px;
  white-space: nowrap;
}
#pd25Buyinfo .buyinfo-inner .buyinfo-right .buyinfo-coupon__addition {
  font-size: 12px;
  font-weight: normal;
  color: #999;
}
#pd25Buyinfo .buyinfo-inner .buyinfo-right .buyinfo-details {
  margin-top: 20px;
}
#pd25Buyinfo .buyinfo-inner .buyinfo-right .buyinfo-details__inner {
  display: flex;
  margin-top: 2px;
}
#pd25Buyinfo .buyinfo-inner .buyinfo-right .buyinfo-details__inner:first-child {
  margin-top: 0;
}
#pd25Buyinfo .buyinfo-inner .buyinfo-right .buyinfo-details dt {
  font-size: 13px;
  font-weight: bold;
  color: #666;
  margin-right: 14px;
}
#pd25Buyinfo .buyinfo-inner .buyinfo-right .buyinfo-details dd {
  font-size: 13px;
  color: #666;
}
#pd25Buyinfo .buyinfo-inner .buyinfo-right .buyinfo-payment-pc {
  margin-top: 38px;
}
@media (max-width: 1100px) {
  #pd25Buyinfo .buyinfo-inner .buyinfo-right .buyinfo-payment-pc {
    display: none;
  }
}
#pd25Buyinfo .buyinfo-inner .buyinfo-right .buyinfo-payment-pc__inner {
  display: flex;
  justify-content: space-between;
}
#pd25Buyinfo .buyinfo-inner .buyinfo-right .buyinfo-payment-pc__quantity {
  display: flex;
  align-items: center;
}
#pd25Buyinfo .buyinfo-inner .buyinfo-right .buyinfo-payment-pc__quantity label {
  font-size: 13px;
  color: #999;
  margin-right: 10px;
}
#pd25Buyinfo .buyinfo-inner .buyinfo-right .buyinfo-payment-pc__control {
  border: #666 1px solid;
  border-radius: 4px;
}
#pd25Buyinfo .buyinfo-inner .buyinfo-right .buyinfo-payment-pc__control input {
  width: 36px;
  height: 36px;
  padding: 0;
  font-size: 15px;
  color: #212121;
  text-align: center;
  border: 0;
  background-color: #fff;
}
#pd25Buyinfo .buyinfo-inner .buyinfo-right .buyinfo-payment-pc__minus {
  width: 36px;
  height: 36px;
  background: url("/images/common/icon_quantity_minus.svg") no-repeat center/16px;
  font-size: 0;
  text-indent: -20000px;
}
#pd25Buyinfo .buyinfo-inner .buyinfo-right .buyinfo-payment-pc__plus {
  width: 36px;
  height: 36px;
  background: url("/images/common/icon_quantity_plus.svg") no-repeat center/16px;
  font-size: 0;
  text-indent: -20000px;
}
#pd25Buyinfo .buyinfo-inner .buyinfo-right .buyinfo-payment-pc__total {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
#pd25Buyinfo .buyinfo-inner .buyinfo-right .buyinfo-payment-pc__title {
  margin-bottom: 4px;
  font-size: 14px;
  font-weight: bold;
  color: #212121;
  text-align: right;
}
#pd25Buyinfo .buyinfo-inner .buyinfo-right .buyinfo-payment-pc__amount {
  font-size: 26px;
  font-weight: bold;
  color: #fd7106;
  text-align: right;
}
#pd25Buyinfo .buyinfo-inner .buyinfo-right .buyinfo-payment-pc__btns {
  display: flex;
  margin-top: 28px;
}
#pd25Buyinfo .buyinfo-inner .buyinfo-right .buyinfo-payment-pc__cart {
  height: 52px;
  flex: 1;
  border: #393280 1px solid;
  font-size: 16px;
  color: #393280;
}
#pd25Buyinfo .buyinfo-inner .buyinfo-right .buyinfo-payment-pc__purchase {
  height: 52px;
  flex: 1;
  border: #393280 1px solid;
  font-size: 16px;
  color: #fff;
  background-color: #393280;
}
#pd25Buyinfo .buyinfo-inner .buyinfo-right .buyinfo-payment-mo__dim {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
}
#pd25Buyinfo .buyinfo-inner .buyinfo-right .buyinfo-payment-mo__dim.active {
  display: block;
}
#pd25Buyinfo .buyinfo-inner .buyinfo-right .buyinfo-payment-mo__wrap {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  max-height: 50vh;
  /* 최대 높이 */
  background: white;
  border-radius: 20px 20px 0 0;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
  z-index: 101;
  /* 딤 배경보다 위 */
  transform: translateY(100%);
  /* 화면 아래 숨김 */
  transition: transform 0.3s ease;
}
#pd25Buyinfo .buyinfo-inner .buyinfo-right .buyinfo-payment-mo__wrap.active {
  transform: translateY(0);
}
#pd25Buyinfo .buyinfo-inner .buyinfo-right .buyinfo-payment-mo__close {
  text-align: center;
}
#pd25Buyinfo .buyinfo-inner .buyinfo-right .buyinfo-payment-mo__close button {
  width: 100%;
  padding: 12px 0 28px;
  font-size: 0;
  text-indent: -20000px;
}
#pd25Buyinfo .buyinfo-inner .buyinfo-right .buyinfo-payment-mo__close button::before {
  content: "";
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 35px;
  height: 6px;
  border-radius: 500px;
  background-color: #dadada;
}
#pd25Buyinfo .buyinfo-inner .buyinfo-right .buyinfo-payment-mo__inner {
  padding: 0 20px;
}
#pd25Buyinfo .buyinfo-inner .buyinfo-right .buyinfo-payment-mo__name {
  font-size: 18px;
  font-weight: bold;
  color: #212121;
}
#pd25Buyinfo .buyinfo-inner .buyinfo-right .buyinfo-payment-mo__price {
  margin-top: 14px;
  font-size: 20px;
  font-weight: bold;
  color: #212121;
}
#pd25Buyinfo .buyinfo-inner .buyinfo-right .buyinfo-payment-mo__quantity {
  display: flex;
  margin-top: 24px;
  align-items: center;
}
#pd25Buyinfo .buyinfo-inner .buyinfo-right .buyinfo-payment-mo__quantity label {
  font-size: 13px;
  color: #999;
  margin-right: 10px;
}
#pd25Buyinfo .buyinfo-inner .buyinfo-right .buyinfo-payment-mo__control {
  border: #666 1px solid;
  border-radius: 4px;
}
#pd25Buyinfo .buyinfo-inner .buyinfo-right .buyinfo-payment-mo__control input {
  width: 34px;
  height: 34px;
  padding: 0;
  font-size: 15px;
  color: #212121;
  text-align: center;
  border: 0;
  background-color: #fff;
}
#pd25Buyinfo .buyinfo-inner .buyinfo-right .buyinfo-payment-mo__minus {
  width: 34px;
  height: 34px;
  background: url("/images/common/icon_quantity_minus.svg") no-repeat center/16px;
  font-size: 0;
  text-indent: -20000px;
}
#pd25Buyinfo .buyinfo-inner .buyinfo-right .buyinfo-payment-mo__plus {
  width: 34px;
  height: 34px;
  background: url("/images/common/icon_quantity_plus.svg") no-repeat center/16px;
  font-size: 0;
  text-indent: -20000px;
}
#pd25Buyinfo .buyinfo-inner .buyinfo-right .buyinfo-payment-mo__total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
  padding: 16px 0 26px;
  border-top: #999 1px solid;
}
#pd25Buyinfo .buyinfo-inner .buyinfo-right .buyinfo-payment-mo__title {
  font-size: 14px;
  font-weight: bold;
  color: #212121;
  text-align: right;
}
#pd25Buyinfo .buyinfo-inner .buyinfo-right .buyinfo-payment-mo__amount {
  font-size: 26px;
  font-weight: bold;
  color: #fd7106;
  text-align: right;
}
#pd25Buyinfo .buyinfo-inner .buyinfo-right .buyinfo-payment-mo__btns {
  display: flex;
}
#pd25Buyinfo .buyinfo-inner .buyinfo-right .buyinfo-payment-mo__cart {
  height: 52px;
  flex: 1;
  border: #393280 1px solid;
  font-size: 16px;
  color: #393280;
}
#pd25Buyinfo .buyinfo-inner .buyinfo-right .buyinfo-payment-mo__purchase {
  height: 52px;
  flex: 1;
  border: #393280 1px solid;
  font-size: 16px;
  color: #fff;
  background-color: #393280;
}
#pd25Buyinfo .payment-btn {
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 60;
}
@media (min-width: 1100px) {
  #pd25Buyinfo .payment-btn {
    display: none;
  }
}
#pd25Buyinfo .payment-btn button {
  width: 100%;
  height: 60px;
  background-color: #393280;
  font-size: 18px;
  color: #fff;
  border: none;
  cursor: pointer;
}

#pd25Relate .relate-inner {
  margin-top: 56px;
}
@media (max-width: 1100px) {
  #pd25Relate .relate-inner {
    margin-top: 44px;
    padding: 0 20px;
  }
}
#pd25Relate .relate-inner .relate-title {
  font-size: 20px;
  font-weight: bold;
  color: #212121;
}
#pd25Relate .relate-inner .relate-swiper {
  margin-top: 16px;
  padding-bottom: 20px;
}
#pd25Relate .relate-inner .relate-swiper .swiper-wrapper {
  height: auto;
}
#pd25Relate .relate-inner .relate-swiper .swiper-wrapper .swiper-slide {
  width: 210px;
  margin-right: 12px;
}
@media (max-width: 1100px) {
  #pd25Relate .relate-inner .relate-swiper .swiper-wrapper .swiper-slide {
    width: 106px;
    margin-right: 8px;
  }
}
#pd25Relate .relate-inner .relate-swiper__scrollbar {
  position: absolute;
  width: 35%;
  height: 4px;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  background-color: #e5e5e5;
}
@media (max-width: 1100px) {
  #pd25Relate .relate-inner .relate-swiper__scrollbar {
    width: 100%;
  }
}
#pd25Relate .relate-inner .relate-swiper__scrollbar .swiper-scrollbar-drag {
  background-color: #393280;
}
#pd25Relate .relate-inner .relate-swiper__img {
  overflow: hidden;
  border-radius: 4px;
}
#pd25Relate .relate-inner .relate-swiper__img img {
  width: 100%;
}
#pd25Relate .relate-inner .relate-swiper__txt {
  margin-top: 8px;
}
#pd25Relate .relate-inner .relate-swiper__txt dt {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  color: #212121;
}
#pd25Relate .relate-inner .relate-swiper__txt dd {
  margin-top: 4px;
  font-size: 16px;
  font-weight: bold;
  color: #212121;
}

#pd25Anchor {
  margin-top: 56px;
}
@media (max-width: 1100px) {
  #pd25Anchor {
    position: absolute;
    top: 0;
    width: 100%;
    margin-top: 0;
    background-color: #fff;
    z-index: 9;
  }
  #pd25Anchor.fixed {
    position: fixed;
    top: 100px;
  }
}
#pd25Anchor ul {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
}
@media (max-width: 1100px) {
  #pd25Anchor ul {
    padding: 0 20px;
  }
}
#pd25Anchor ul::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 1px;
  background-color: #dadada;
}
#pd25Anchor ul li:first-child {
  margin-left: 0;
}
#pd25Anchor ul li a {
  position: relative;
  display: block;
  height: 40px;
  padding: 10px 12px 0;
  font-size: 15px;
  color: #212121;
}
#pd25Anchor ul li a i {
  color: #fd7106;
  vertical-align: baseline;
}
#pd25Anchor ul li a.active {
  font-weight: bold;
  color: #393280;
}
#pd25Anchor ul li a.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 1px;
  background-color: #393280;
  z-index: 1;
}
@media (min-width: 1100px) {
  #pd25Anchor ul li a:hover {
    font-weight: bold;
    color: #393280;
  }
  #pd25Anchor ul li a:hover::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 1px;
    background-color: #393280;
    z-index: 1;
  }
}

#pd25Details .details-inner {
  padding: 0 125px;
}
@media (max-width: 1100px) {
  #pd25Details .details-inner {
    padding: 0 20px;
  }
}
#pd25Details .details-inner .details-banner {
  padding: 20px 0;
}
@media (max-width: 1100px) {
  #pd25Details .details-inner .details-banner {
    padding: 44px 0 16px;
  }
}
#pd25Details .details-inner .details-page {
  position: relative;
  max-height: 716px;
  overflow: hidden;
}
#pd25Details .details-inner .details-page img {
  width: 100%;
}
#pd25Details .details-inner .details-page.open {
  overflow: auto;
  max-height: initial;
}
#pd25Details .details-inner .details-page__more {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-top: 100px;
  background: linear-gradient(to top, #fff 60px, transparent);
}
#pd25Details .details-inner .details-page__more.close {
  display: none;
}
#pd25Details .details-inner .details-page__more a {
  display: block;
  width: 100%;
  height: 44px;
  border: #e5e5e5 1px solid;
  border-radius: 4px;
  background-color: #fff;
  font-size: 13px;
  color: #212121;
  text-align: center;
}
#pd25Details .details-inner .details-page__more a:after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 44px;
  background: url("/images/common/icon_more.svg") no-repeat center center/20px;
}
#pd25Details .details-inner .details-page__btntxt {
  display: inline-block;
  line-height: 44px;
}

#pd25Recommend .recommend-inner {
  margin-top: 56px;
}
@media (max-width: 1100px) {
  #pd25Recommend .recommend-inner {
    margin-top: 44px;
    padding: 0 20px;
  }
}
#pd25Recommend .recommend-inner .recommend-title {
  font-size: 20px;
  font-weight: bold;
  color: #212121;
}
#pd25Recommend .recommend-inner .recommend-swiper {
  margin-top: 16px;
  padding-bottom: 20px;
}
#pd25Recommend .recommend-inner .recommend-swiper .swiper-wrapper {
  height: auto;
}
#pd25Recommend .recommend-inner .recommend-swiper .swiper-wrapper .swiper-slide {
  width: 210px;
  margin-right: 12px;
}
@media (max-width: 1100px) {
  #pd25Recommend .recommend-inner .recommend-swiper .swiper-wrapper .swiper-slide {
    width: 106px;
    margin-right: 8px;
  }
}
#pd25Recommend .recommend-inner .recommend-swiper__scrollbar {
  position: absolute;
  width: 35%;
  height: 4px;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  background-color: #e5e5e5;
}
@media (max-width: 1100px) {
  #pd25Recommend .recommend-inner .recommend-swiper__scrollbar {
    width: 100%;
  }
}
#pd25Recommend .recommend-inner .recommend-swiper__scrollbar .swiper-scrollbar-drag {
  background-color: #393280;
}
#pd25Recommend .recommend-inner .recommend-swiper__img {
  overflow: hidden;
  border-radius: 4px;
}
#pd25Recommend .recommend-inner .recommend-swiper__img img {
  width: 100%;
}
#pd25Recommend .recommend-inner .recommend-swiper__txt {
  margin-top: 8px;
}
#pd25Recommend .recommend-inner .recommend-swiper__txt dt {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  color: #212121;
}
#pd25Recommend .recommend-inner .recommend-swiper__txt dd {
  margin-top: 4px;
  font-size: 16px;
  font-weight: bold;
  color: #212121;
}

#pd25Review .review-inner {
  margin-top: 56px;
}
@media (max-width: 1100px) {
  #pd25Review .review-inner {
    padding: 0 20px;
  }
}
#pd25Review .review-inner .review-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#pd25Review .review-inner .review-top .review-title {
  font-size: 22px;
  font-weight: bold;
  color: #212121;
}
@media (max-width: 1100px) {
  #pd25Review .review-inner .review-top .review-title {
    font-size: 20px;
  }
}
#pd25Review .review-inner .review-top .review-title i {
  margin-left: 6px;
  font-size: 22px;
  font-weight: bold;
  color: #fd7106;
}
@media (max-width: 1100px) {
  #pd25Review .review-inner .review-top .review-title i {
    margin-left: 4px;
    font-size: 20px;
  }
}
#pd25Review .review-inner .review-top .review-rating ul {
  display: flex;
  align-items: center;
}
#pd25Review .review-inner .review-top .review-rating ul li {
  width: 20px;
  height: 20px;
  background: url("/images/common/icon_rating_off.svg") no-repeat center center/20px;
}
#pd25Review .review-inner .review-top .review-rating ul li.on {
  background-image: url("/images/common/icon_rating_on.svg");
}
#pd25Review .review-inner .review-top .review-rating ul li.review-rating__num {
  width: auto;
  height: auto;
  margin-left: 4px;
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
  color: #fd7106;
  background-image: none;
}
#pd25Review .review-inner .review-subtitle {
  margin-top: 16px;
  font-size: 18px;
  font-weight: bold;
  color: #212121;
}
@media (max-width: 1100px) {
  #pd25Review .review-inner .review-subtitle {
    font-size: 14px;
  }
}
#pd25Review .review-inner .review-photo {
  margin-top: 8px;
}
#pd25Review .review-inner .review-photo ul {
  display: flex;
  gap: 4px;
}
#pd25Review .review-inner .review-photo ul li {
  overflow: hidden;
  border-radius: 4px;
}
#pd25Review .review-inner .review-photo ul li a {
  display: block;
  width: 180px;
  aspect-ratio: 1/1;
}
@media (max-width: 1100px) {
  #pd25Review .review-inner .review-photo ul li a {
    width: 84px;
  }
}
#pd25Review .review-inner .review-photo ul li a img {
  width: 100%;
  height: 100%;
}
#pd25Review .review-inner .review-photo__more {
  background-color: #000;
}
#pd25Review .review-inner .review-photo__more a {
  position: relative;
  display: block;
}
#pd25Review .review-inner .review-photo__more a::after {
  content: "더보기";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  color: #fff;
}
@media (max-width: 1100px) {
  #pd25Review .review-inner .review-photo__more a::after {
    font-size: 14px;
  }
}
#pd25Review .review-inner .review-photo__more img {
  opacity: 0.4;
}
#pd25Review .review-inner .review-list {
  margin-top: 12px;
}
#pd25Review .review-inner .review-list__sort ul {
  display: flex;
  justify-content: flex-end;
}
#pd25Review .review-inner .review-list__sort ul li {
  padding: 0 8px;
  font-size: 13px;
  color: #666;
}
#pd25Review .review-inner .review-list__sort ul li:last-child {
  position: relative;
  padding-right: 0;
}
#pd25Review .review-inner .review-list__sort ul li:last-child::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  width: 1px;
  height: 11px;
  background-color: #666;
}
#pd25Review .review-inner .review-list__items {
  margin-top: 12px;
}
#pd25Review .review-inner .review-list__items > ul > li {
  padding: 13px 20px;
  border-bottom: #dadada 1px solid;
}
@media (max-width: 1100px) {
  #pd25Review .review-inner .review-list__items > ul > li {
    padding: 12px 0;
  }
}
#pd25Review .review-inner .review-list__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#pd25Review .review-inner .review-list__rating {
  display: flex;
  align-items: center;
}
#pd25Review .review-inner .review-list__rating ul {
  display: flex;
  align-items: center;
}
#pd25Review .review-inner .review-list__rating ul li {
  width: 16px;
  height: 16px;
  background: url("/images/common/icon_rating_off.svg") no-repeat center center/16px;
}
#pd25Review .review-inner .review-list__rating ul li.on {
  background-image: url("/images/common/icon_rating_on.svg");
}
#pd25Review .review-inner .review-list__user {
  margin-left: 4px;
  font-size: 14px;
  color: #999;
}
#pd25Review .review-inner .review-list__date {
  font-size: 12px;
  color: #999;
}
#pd25Review .review-inner .review-list__wrap {
  display: block;
  margin-top: 8px;
}
#pd25Review .review-inner .review-list__container {
  display: block;
  position: relative;
}
#pd25Review .review-inner .review-list__container.close .review-list__content {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: nowrap;
  word-wrap: break-word;
  max-height: 40px;
}
#pd25Review .review-inner .review-list__container.close .review-list__reply {
  display: none;
}
#pd25Review .review-inner .review-list button {
  margin-top: 4px;
  padding: 0 8px;
  font-size: 10px;
  color: #212121;
  line-height: 20px;
  border-radius: 4px;
  background-color: #eaeaea;
}
#pd25Review .review-inner .review-list__content {
  display: block;
  width: 100%;
  min-height: 40px;
  padding-right: 80px;
  font-size: 16px;
  color: #999;
  line-height: 20px;
}
@media (max-width: 1100px) {
  #pd25Review .review-inner .review-list__content {
    font-size: 14px;
  }
}
#pd25Review .review-inner .review-list__content p {
  font-size: 16px;
}
@media (max-width: 1100px) {
  #pd25Review .review-inner .review-list__content p {
    font-size: 14px;
  }
}
#pd25Review .review-inner .review-list__reply {
  display: block;
  margin-top: 14px;
  padding: 16px 12px;
  font-size: 16px;
  color: #666;
  background-color: #f5f5f5;
}
@media (max-width: 1100px) {
  #pd25Review .review-inner .review-list__reply {
    font-size: 14px;
  }
}
#pd25Review .review-inner .review-list__thumbnail {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  overflow: hidden;
  width: 60px;
  height: 60px;
  border-radius: 4px;
}
#pd25Review .review-inner .review-list__thumbnail img {
  width: 100%;
  height: 100%;
}
#pd25Review .review-popup__dim {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
#pd25Review .review-popup {
  display: none;
  position: fixed;
  width: 752px;
  height: 90%;
  max-height: 90vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
  background-color: #fff;
  border-radius: 4px;
  z-index: 1000;
}
@media (max-width: 1100px) {
  #pd25Review .review-popup {
    width: 90%;
    max-width: 390px;
  }
}
#pd25Review .review-popup__inner {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}
#pd25Review .review-popup.single {
  width: 752px;
  height: 90%;
  max-height: 90vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
}
@media (max-width: 1100px) {
  #pd25Review .review-popup.single {
    width: 90%;
    max-width: 390px;
  }
}
#pd25Review .review-popup__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: #fff;
  border-radius: 4px 4px 0 0;
  text-align: center;
  z-index: 1010;
}
@media (max-width: 1100px) {
  #pd25Review .review-popup__head {
    height: 48px;
  }
}
#pd25Review .review-popup__head h3 {
  flex: 1;
  font-size: 20px;
  font-weight: bold;
  color: #212121;
}
@media (max-width: 1100px) {
  #pd25Review .review-popup__head h3 {
    font-size: 16px;
  }
}
#pd25Review .review-popup__close {
  width: 24px;
  height: 24px;
  margin-right: 14px;
  background: url(/images/common/icon_popup_close.svg) no-repeat center/100%;
}
#pd25Review .review-popup__multi {
  flex: 1;
  margin-bottom: 50px;
  padding: 0 50px;
  overflow-y: auto;
  max-height: calc(100% - 80px);
}
@media (max-width: 1100px) {
  #pd25Review .review-popup__multi {
    margin-bottom: 20px;
    padding: 0 20px;
  }
}
#pd25Review .review-popup__multi > ul {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}
@media (max-width: 1100px) {
  #pd25Review .review-popup__multi > ul {
    gap: 4px;
  }
}
#pd25Review .review-popup__multi > ul > li {
  width: calc((100% - 24px) / 6);
  height: auto;
}
@media (max-width: 1100px) {
  #pd25Review .review-popup__multi > ul > li {
    width: calc((100% - 14px) / 4);
  }
}
#pd25Review .review-popup__multi > ul > li a {
  display: block;
  aspect-ratio: auto 1/1;
}
#pd25Review .review-popup__multi > ul > li a img {
  width: 100%;
  height: 100%;
}
#pd25Review .review-popup__single {
  overflow-y: auto;
  scrollbar-gutter: auto;
  box-sizing: border-box;
  height: calc(100vh - 80px);
}
#pd25Review .review-popup__single .review-popup-swiper {
  position: relative;
}
#pd25Review .review-popup__single .review-popup-swiper .swiper-wrapper {
  height: auto;
}
#pd25Review .review-popup__single .review-popup-swiper .swiper-wrapper .swiper-slide {
  width: 100%;
  padding: 0 50px;
}
@media (max-width: 1100px) {
  #pd25Review .review-popup__single .review-popup-swiper .swiper-wrapper .swiper-slide {
    padding: 0 20px;
  }
}
#pd25Review .review-popup__single .review-popup-swiper .swiper-wrapper .swiper-slide .review-swiper__img img {
  width: 100%;
}
#pd25Review .review-popup__single .review-popup-swiper__pagination {
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  gap: 6px;
  display: flex;
  width: auto;
  height: 4px;
  z-index: 1;
}
#pd25Review .review-popup__single .review-popup-swiper__pagination .swiper-pagination-bullet {
  width: 12px;
  height: 4px;
  border-radius: 0;
  margin: 0;
  background-color: #fff;
}
#pd25Review .review-popup__single .review-popup-swiper__pagination .swiper-pagination-bullet-active {
  width: 30px;
}
#pd25Review .review-popup__single .review-popup__content {
  border-top: #dadada 1px solid;
  padding: 0 50px 50px;
}
@media (max-width: 1100px) {
  #pd25Review .review-popup__single .review-popup__content {
    padding: 0 20px 20px;
  }
}
#pd25Review .review-popup__single .review-popup__content--head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
  padding: 0 20px;
}
#pd25Review .review-popup__single .review-popup__content--rating {
  display: flex;
  align-items: center;
}
#pd25Review .review-popup__single .review-popup__content--rating ul {
  display: flex;
  align-items: center;
}
#pd25Review .review-popup__single .review-popup__content--rating ul li {
  width: 16px;
  height: 16px;
  background: url("/images/common/icon_rating_off.svg") no-repeat center center/16px;
}
#pd25Review .review-popup__single .review-popup__content--rating ul li.on {
  background-image: url("/images/common/icon_rating_on.svg");
}
#pd25Review .review-popup__single .review-popup__content--user {
  margin-left: 4px;
  font-size: 14px;
  color: #999;
}
#pd25Review .review-popup__single .review-popup__content--date {
  font-size: 12px;
  color: #999;
}
#pd25Review .review-popup__single .review-popup__content--text {
  margin-top: 18px;
  padding: 0 20px 20px;
}
#pd25Review .review-popup__navi {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 50px;
}
@media (max-width: 1100px) {
  #pd25Review .review-popup__navi {
    padding: 0 20px;
  }
}
#pd25Review .review-popup__navi--prev {
  padding: 10px 20px 10px 28px;
  background: url(/images/common/icon_paging_prev.svg) no-repeat left 8px center/16px;
  font-size: 16px;
  color: #212121;
  cursor: pointer;
  z-index: 1;
}
#pd25Review .review-popup__navi--prev.swiper-button-disabled {
  display: none;
}
#pd25Review .review-popup__navi--next {
  padding: 10px 28px 10px 20px;
  background: url(/images/common/icon_paging_next.svg) no-repeat right 8px center/16px;
  font-size: 16px;
  color: #212121;
  cursor: pointer;
  z-index: 1;
}
#pd25Review .review-popup__navi--next.swiper-button-disabled {
  display: none;
}

#pd25Qna .qna-inner {
  margin-top: 56px;
}
@media (max-width: 1100px) {
  #pd25Qna .qna-inner {
    padding: 0 20px;
  }
}
#pd25Qna .qna-inner .qna-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#pd25Qna .qna-inner .qna-top .qna-subtitle {
  font-size: 20px;
  font-weight: bold;
  color: #212121;
}
#pd25Qna .qna-inner .qna-top .qna-write a {
  position: relative;
  display: inline-block;
  padding-right: 20px;
  font-size: 14px;
  color: #999;
  line-height: 20px;
}
#pd25Qna .qna-inner .qna-top .qna-write a::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  background: url(/images/common/icon_link.svg) no-repeat center/100%;
}
#pd25Qna .qna-inner .qna-list > ul > li {
  padding: 8px 20px;
  border-bottom: #dadada 1px solid;
}
@media (max-width: 1100px) {
  #pd25Qna .qna-inner .qna-list > ul > li {
    padding: 8px 0;
  }
}
#pd25Qna .qna-inner .qna-list__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#pd25Qna .qna-inner .qna-list__user {
  display: block;
  font-size: 14px;
  color: #212121;
}
#pd25Qna .qna-inner .qna-list__date {
  display: block;
  font-size: 12px;
  color: #666;
}
#pd25Qna .qna-inner .qna-list__wrap {
  margin-top: 8px;
}
#pd25Qna .qna-inner .qna-list__title {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 8px;
  padding-left: 21px;
}
#pd25Qna .qna-inner .qna-list__title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 13px;
  height: 14px;
  background: url(/images/common/icon_qna_question_title.svg) no-repeat center/100%;
}
#pd25Qna .qna-inner .qna-list__title.lock .qna-list__lock {
  background: url(/images/common/icon_post_lock.svg) no-repeat center/100%;
}
#pd25Qna .qna-inner .qna-list__title.unlock .qna-list__lock {
  background: url(/images/common/icon_post_unlock.svg) no-repeat center/100%;
}
#pd25Qna .qna-inner .qna-list__title a {
  display: block;
  font-size: 16px;
  color: #212121;
}
@media (max-width: 1100px) {
  #pd25Qna .qna-inner .qna-list__title a {
    font-size: 14px;
  }
}
#pd25Qna .qna-inner .qna-list__lock {
  display: inline-block;
  width: 16px;
  height: 16px;
}
#pd25Qna .qna-inner .qna-list__status {
  display: inline-block;
  margin-left: 8px;
  padding: 0 4px;
  border-radius: 2px;
  background-color: rgba(253, 113, 6, 0.1);
  font-size: 10px;
  color: #ea1919;
  line-height: 16px;
}
#pd25Qna .qna-inner .qna-list__detail {
  display: none;
  margin-top: 12px;
  padding: 16px 12px;
  background-color: #f5f5f5;
}
#pd25Qna .qna-inner .qna-list__question {
  position: relative;
  display: block;
  padding-left: 21px;
  font-size: 16px;
  color: #666;
}
@media (max-width: 1100px) {
  #pd25Qna .qna-inner .qna-list__question {
    font-size: 14px;
  }
}
#pd25Qna .qna-inner .qna-list__question::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 13px;
  height: 14px;
  background: url(/images/common/icon_qna_question_inner.svg) no-repeat center/100%;
}
#pd25Qna .qna-inner .qna-list__answer {
  position: relative;
  display: block;
  margin-top: 30px;
  padding-left: 21px;
  font-size: 16px;
  color: #666;
}
@media (max-width: 1100px) {
  #pd25Qna .qna-inner .qna-list__answer {
    font-size: 14px;
  }
}
#pd25Qna .qna-inner .qna-list__answer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 13px;
  height: 14px;
  background: url(/images/common/icon_qna_answer_inner.svg) no-repeat center/100%;
}

#pd25Notice .notice-inner {
  margin-top: 36px;
  border-bottom: #dadada 1px solid;
}
@media (max-width: 1100px) {
  #pd25Notice .notice-inner {
    padding: 0 20px;
  }
}
#pd25Notice .notice-inner .notice-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  cursor: pointer;
}
#pd25Notice .notice-inner .notice-top .notice-subtitle {
  font-size: 20px;
  font-weight: bold;
  color: #212121;
}
#pd25Notice .notice-inner .notice-top span {
  display: block;
  width: 20px;
  height: 20px;
  background: url(/images/common/icon_accordion.svg) no-repeat right center/20px;
  font-size: 0;
  text-indent: -20000px;
}
#pd25Notice .notice-inner .notice-top span.close {
  background: url(/images/common/icon_accordion.svg) no-repeat right center/20px;
  transform: scaleY(-1);
}
#pd25Notice .notice-inner .notice-content {
  margin-bottom: 16px;
  padding: 0 20px;
}
@media (max-width: 1100px) {
  #pd25Notice .notice-inner .notice-content {
    padding: 0;
  }
}

#pd25Refunds .refunds-inner {
  border-bottom: #dadada 1px solid;
}
@media (max-width: 1100px) {
  #pd25Refunds .refunds-inner {
    padding: 0 20px;
  }
}
#pd25Refunds .refunds-inner .refunds-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  cursor: pointer;
}
#pd25Refunds .refunds-inner .refunds-top .refunds-subtitle {
  font-size: 20px;
  font-weight: bold;
  color: #212121;
}
#pd25Refunds .refunds-inner .refunds-top span {
  display: block;
  width: 40px;
  height: 20px;
  background: url(/images/common/icon_accordion.svg) no-repeat right center/20px;
  font-size: 0;
  text-indent: -20000px;
}
#pd25Refunds .refunds-inner .refunds-top span.close {
  background: url(/images/common/icon_accordion.svg) no-repeat right center/20px;
  transform: scaleY(-1);
}
#pd25Refunds .refunds-inner .refunds-content {
  display: none;
  margin-bottom: 16px;
  padding: 0 20px;
}
@media (max-width: 1100px) {
  #pd25Refunds .refunds-inner .refunds-content {
    padding: 0;
  }
}
#pd25Refunds .refunds-inner .refunds-content dl {
  margin-bottom: 24px;
}
@media (max-width: 1100px) {
  #pd25Refunds .refunds-inner .refunds-content dl {
    margin-bottom: 8px;
  }
}
#pd25Refunds .refunds-inner .refunds-content dl:last-child {
  margin-bottom: 0;
}
#pd25Refunds .refunds-inner .refunds-content dt {
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: bold;
  color: #212121;
}
@media (max-width: 1100px) {
  #pd25Refunds .refunds-inner .refunds-content dt {
    font-size: 14px;
  }
}
#pd25Refunds .refunds-inner .refunds-content dd {
  position: relative;
  padding-left: 20px;
  font-size: 16px;
  color: #666;
  line-height: 160%;
}
@media (max-width: 1100px) {
  #pd25Refunds .refunds-inner .refunds-content dd {
    font-size: 14px;
  }
}
#pd25Refunds .refunds-inner .refunds-content dd::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 10px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #666;
}

#pd25Wrap #pd25Container .common-paging__wrap {
  margin-top: 20px;
  text-align: center;
}
#pd25Wrap #pd25Container .common-paging__wrap > ol {
  display: flex;
  justify-content: center;
  align-items: center;
}
#pd25Wrap #pd25Container .common-paging__wrap > ol > li {
  display: flex;
}
#pd25Wrap #pd25Container .common-paging__wrap > ol > li a,
#pd25Wrap #pd25Container .common-paging__wrap > ol > li span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 26px;
  height: 26px;
  font-size: 14px;
  color: #212121;
  line-height: 26px;
}
#pd25Wrap #pd25Container .common-paging__wrap > ol > li a.current,
#pd25Wrap #pd25Container .common-paging__wrap > ol > li span.current {
  background-color: #393280;
  border-radius: 50%;
  color: #fff;
}
#pd25Wrap #pd25Container .common-paging__first {
  justify-content: flex-end !important;
}
#pd25Wrap #pd25Container .common-paging__last {
  justify-content: flex-start !important;
}
#pd25Wrap #pd25Container .common-table-row table {
  width: 100%;
  border-top: #dadada 1px solid;
}
#pd25Wrap #pd25Container .common-table-row tr th {
  width: 250px;
  padding: 16px;
  text-align: left;
  font-size: 16px;
  color: #666;
  border: #dadada 1px solid;
  border-top: 0;
  background-color: #f5f5f5;
}
@media (max-width: 1100px) {
  #pd25Wrap #pd25Container .common-table-row tr th {
    width: 100px;
    padding: 6px;
    font-size: 12px;
  }
}
#pd25Wrap #pd25Container .common-table-row tr td {
  padding: 16px;
  border: #dadada 1px solid;
  border-top: 0;
  border-left: 0;
  text-align: left;
  font-size: 16px;
  color: #666;
}
@media (max-width: 1100px) {
  #pd25Wrap #pd25Container .common-table-row tr td {
    padding: 6px;
    font-size: 12px;
  }
}/*# sourceMappingURL=product25.css.map */