//color
$primary-color: #212121;
$secondary-color: #393280;
$tertiary-color: #fd7106;
$quaternary-color: #ea1919;

$grey1-color: #666;
$grey2-color: #999;
$grey3-color: #dadada;
$grey4-color: #e5e5e5;
$grey5-color: #f5f5f5;

$white-color: #fff;
$black-color: #000;

// 데스크탑
$breakpoint-desktop: 1100px;

//태블릿
$breakpoint-tablet: 1024px;

// 모바일
$breakpoint-mobile: 768px;
